(function() {
  <% if params[:uploadType] == "multiple" %>
    console.log('multiple images')
    $files = $('<%= params[:uploadTarget] %>').find('.weui-uploader__files')
    console.log($files)

		$files.find('.weui-uploader__file.holder').remove()
    $files.append('<li class="weui-uploader__file" style="background-image:url(<%= @image.data_url %>)"><input type="hidden" name="reservation[photos][]" value="<%= @image.data_url%>"> </li>')

    $files.find('li').each(function(index, element){
      $(element).find('input').attr('name', "medical_record[<%= params[:uploadPhotosField] %>_attributes][" + index + "][data]")
    })
  <% else %>
    console.log('single image')
    $hidden_file_field = $('<%= params[:uploadTarget] %>').find('.weui-uploader__files').find('input:hidden')
    $files = $('<%= params[:uploadTarget] %>').find('.weui-uploader__files')
    $files.empty()
    $files.append('<li class="weui-uploader__file" style="background-image:url(<%= @image.data_url %>)"></li>')
    $files.find('li').append($hidden_file_field)
    $hidden_file_field.val("<%= @image.data_url %>")
    $('<%= params[:uploadTarget] %>').find('.weui_uploader_hd .weui-cell__ft').text('1/1')

    // $('<%= params[:target] %>').find('.weui_uploader_input_wrp').remove()

    // console.log($('<%= params[:target] %>').find('input:hidden').val())
    // $('<%= params[:target] %>').find('input:hidden').val("<%= @image.data_url %>")
    // console.log($('<%= params[:target] %>').find('input:hidden').val())
  <% end %>
})()
