(function() {
  <% if params[:uploadType] == "multiple" %>
    console.log('multiple images')
    $files = $('<%= params[:uploadTarget] %>').find('.weui_uploader_files')
    $files.append('<li class="weui_uploader_file" style="background-image:url(<%= @image.data_url %>)"><input type="hidden" name="reservation[photos][]" value="<%= @image.data_url%>"> </li>')

    $('ul.weui_uploader_files').find('li').each(function(index, element){
      $(element).find('input').attr('name', "reservation[photos_attributes][" + index + "][data]")
    })
  <% else %>

    console.log('single image')
    $hidden_file_field = $('<%= params[:uploadTarget] %>').find('.weui_uploader_files').find('input:hidden')
    $files = $('<%= params[:uploadTarget] %>').find('.weui_uploader_files')
    $files.empty()
    $files.append('<li class="weui_uploader_file" style="background-image:url(<%= @image.data_url %>)"></li>')
    $files.find('li').append($hidden_file_field)
    $hidden_file_field.val("<%= @image.data_url %>")
    $('<%= params[:uploadTarget] %>').find('.weui_uploader_hd .weui_cell_ft').text('1/1')

    // $('<%= params[:target] %>').find('.weui_uploader_input_wrp').remove()

    // console.log($('<%= params[:target] %>').find('input:hidden').val())
    // $('<%= params[:target] %>').find('input:hidden').val("<%= @image.data_url %>")
    // console.log($('<%= params[:target] %>').find('input:hidden').val())
  <% end %>
})()
