<div class="msg">
  <div class="weui_msg">
      <div class="weui_icon_area"><i class="weui_icon_info weui_icon_msg"></i></div>
      <div class="weui_text_area">
        <h2 class="weui_msg_title">你已评价对方</h2>
        <p class="weui_msg_desc">针对本次服务你作出了如下评价:</p>
      </div>
      <div class="weui_opr_area">
        <p class="weui_btn_area">
					<input id="rating-doctor" type="text" class="" value="<%= resource.rating_by_doctor.try(:stars) %>" name="rating[stars]" data-size="md" title="">
        </p>
      </div>
      <div class="weui_extra_area">
        <a href="">帮助</a>
      </div>
  </div>
</div>



<%= content_for :css do %>
	<%= stylesheet_link_tag :bootstrap_fontawesome %>
<% end %>

<%= content_for :js do %>
  <%= javascript_tag do %>
    $(function(){
      $("#rating-doctor").rating({
        showClear: false,
				showCaption: false,
				readonly: true
      });

    })
  <% end %>
<% end %>
