<%= simple_form_for resource, url: claim_my_doctors_reservation_path(resource) , method: 'PUT' do |f| %>

<div class="weui-cells__title">预约</div>
<div class="weui-cells weui-cells_form">

  <div class="weui-cell">
    <div class="weui-cell__hd">
      <label class="weui-label" for="">时间</label>
    </div>
    <div class="weui-cell__bd weui-cell_primary">
      <input class="weui-input" name="reservation[reservation_time]" placeholder="你们商量好的时间" type="datetime-local" value="<%= resource.reservation_time %>">
    </div>
  </div>

  <div class="weui-cell weui-cell-remark">
      <div class="weui-cell__hd">
        <label class="weui-label">地点</label>
      </div>
      <div class="weui-cell__bd">
        <textarea class="weui-textarea" name="reservation[reservation_location]" data-parsley-required="true" placeholder="你们商量好的位置" value="<%= current_user.doctor.location %>"></textarea>
      </div>
      <div class="weui-cell__ft">
          <a href="javascript:void(0)" class="weui-vcode-btn">定位</a>
      </div>
  </div>

  <div class="weui-cell weui-cell-remark">
      <div class="weui-cell__hd">
        <label class="weui-label">备注</label>
      </div>
      <div class="weui-cell__bd">
        <textarea class="weui-textarea" name="reservation[reservation_remark]" data-parsley-required="true" placeholder="备注"></textarea>
      </div>
  </div>

</div>

<!-- <div class="weui-cells__tips">底部说明文字底部说明文字</div> -->

<div class="weui-btn-area">
  <button class="weui-btn weui-btn__primary">确定</button>
</div>

<% end %>

<%= content_for :js do %>
  <%= javascript_tag do %>
  $(function(){
    url = location.href.split('#')[0]
    $.ajax({
      url:        "/wxpay/config.json?url=" + escape(url),
      beforeSend: function(){},
      global:     false
    })
    .done(function(data){

      wx.config({
        appId:     data.appId,
        timestamp: data.timestamp,
        nonceStr:  data.nonceStr,
        signature: data.signature,
        jsApiList: data.jsApiList
      });

      wx.ready(function(){
        console.log('config is ready, checking js api available');
        wx.checkJsApi({
           jsApiList: data.jsApiList,
           success: function (res) {
             console.log(JSON.stringify(res));
           }
         });
      });

      wx.error(function(res){
        alert("初始化微信js sdk出错，请联系我们");
      })
    })

    wx.ready(function(){
      $(document).on('click', '.weui-vcode-btn', function(e){
        console.log('click get Location');
        wx.getLocation({
          type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
          success: function (res) {
            var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
            var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
            var speed = res.speed; // 速度，以米/每秒计
            var accuracy = res.accuracy; // 位置精度

            var data = {
            　　　　　　location: latitude + "," + longitude,
            　　　　　　key: "GHPBZ-BCE3X-GPT4A-7EJHJ-G2TPQ-PTFBQ",
            　　　　　　get_poi:0,
                      output: "jsonp"
            　　　　}

            var url= "http://apis.map.qq.com/ws/geocoder/v1/?";
            console.log('convert latitude and longitude to address');
            $.ajax({
                type: "get",
                dataType:'jsonp',
                data: data,
                jsonp:  "callback",
                jsonpCallback:"QQmap",
                url:url,
                success:function(json){
                    // var toStr = JSON.stringify(json);
                    console.log(json.result.address)
                    if(json.status == 0){
                      $('textarea[name="reservation[reservation_location]"]').val(json.result.address)
                    }
                },
                error : function(err){
                  alert("服务端错误，请刷新浏览器后重试")
                }
            })
          },
          cancel: function (res) {
              alert('你拒绝了授权获取地理位置');
          }
        });
      })
    })
  })
  <% end %>
<% end %>
