<div class="msg">
  <div class="weui-msg">
      <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
      <div class="weui_text_area">
          <h2 class="weui-msg__title">用户已经支付完成, 请对用户进行评价</h2>
          <!-- <p class="weui-msg__desc">请对用户进行评价</p> -->
      </div>
      <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
          <%= simple_form_for Rating.new, url: doctors_ratings_path, method: 'POST' do |f| %>
            <input id="rating-doctor" type="text" class="" value="5" name="rating[stars]" data-size="md" title="">

            <% if params.key?(:reservation_id)  %>
              <%= f.hidden_field :reservation_id, value: params[:reservation_id]%>
            <% end %>

            <div id="tags-input"></div>
            <%= f.input :body, as: :text, label: false, input_html: { height: '100px' } %>
            <%= f.input :tag_list, as: :hidden %>
            <%= f.input :rated_by, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.button :submit, class: "weui-btn weui-btn_primary" %>
          <% end %>
        </p>
      </div>
      <!-- <div class="weui-msg__extra-area">
        <a href="">帮助</a>
      </div> -->
  </div>
</div>

<%= content_for :css do %>
  <%= stylesheet_link_tag :bootstrap_fontawesome %>
<% end %>

<%= content_for :js do %>
  <%= javascript_tag do %>
    $(function(){
      $("#rating-doctor").rating({
        showClear: false,
        showCaption: false
      });

      $('#tags-input').tags({
        values: ["超级奶爸", "暖神爹地", "萝莉妈咪", "时尚辣妈", "爱心泛滥", "高冷大咖", "神准时", "聊的很开心", "通情达理", "支付神速" ],
        templates: {
          pill: '<span class="badge badge-info tag-badge" data-tag-id="{1}" style="overflow: hidden; white-space: nowrap;" class="tag-remove">{0}</span>',
          number: '<sup><small>{0}</small></sup>'
        },
        input_name: "tag_list[]",
        can_delete: false,
        can_add: false
      });

      $('.pills-list').on('click', '.badge', function(e){
        $(e.target).toggleClass('active')
        arr = []
        $('.pills-list .badge.active').map(function(i,e){
          arr.push( $(e).find('input').val() )
        })
        console.log(arr)
        $('#rating_tag_list').val(arr)
      })
    })
  <% end %>
<% end %>
