<div class="page">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-navbar">
                <div class="weui-navbar__item weui-bar__item_on">
                    病例内容
                </div>
                <div class="weui-navbar__item">
                    体格检查信息
                </div>
                <div class="weui-navbar__item">
                    诊断意见
                </div>
            </div>
            <div class="weui-tab__panel">
              <%= simple_nested_form_for resource, url: url, method: method do |f| %>

                <div class="tab1 tab-content">
                  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
                  <%= f.input :reservation_id, as: :hidden, input_html: { value: params[:reservation_id] } %>
                  <%= f.input :birthdate, start_year: Time.now.year - 99, end_year: Time.now.year,  wrapper: :weui_input %>
                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">性别</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[gender]">
                          <%= options_for_select MedicalRecord::GENDERS, "男" %>
                        </select>
                    </div>
                  </div>
                  <!-- <%= f.input :height, wrapper: :weui_input %> -->
                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">身高(cm)</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[height]">
                          <%= options_for_select MedicalRecord::HEIGHTS, 50 %>
                        </select>
                    </div>
                  </div>
                  <!-- <%= f.input :weight, wrapper: :weui_input %> -->
                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">体重(kg)</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[weight]">
                          <%= options_for_select MedicalRecord::WEIGHTS, 8 %>
                        </select>
                    </div>
                  </div>
                  <%= f.input :onset_date, start_year: Time.now.year - 99, end_year: Time.now.year, wrapper: :weui_input %>
                  <%= f.input :chief_complaint, as: :text, wrapper: :weui_input %>
                  <%= f.input :history_of_present_illness, as: :text, wrapper: :weui_input %>
                  <%= f.input :past_medical_history, as: :text, wrapper: :weui_input %>
                  <%= f.input :allergic_history, as: :text, wrapper: :weui_input %>
                  <%= f.input :personal_history, as: :text, wrapper: :weui_input %>
                  <%= f.input :family_history, as: :text, wrapper: :weui_input %>
                  <%= f.input :vaccination_history, as: :text, wrapper: :weui_input %>
                  <div class="weui-cell">
                      <div class="weui-cell__bd">
                          <div class="weui-uploader weui_uploader1">
                              <div class="weui-uploader__hd">
                                  <p class="weui-uploader__title">既往病案资料图片(药品处方, 纸质病例, 收费单据, 治疗处方, 用户请自己拍照上传)</p>
                                  <!-- <div class="weui-uploader__info">0/2</div> -->
                              </div>
                              <div class="weui-uploader__bd">
                                  <ul class="weui-uploader__files" id="uploaderFiles">
                                    <li class="weui-uploader__file holder" style="background:rgba(74, 56, 66, 0.13)"></li>
                                  </ul>
                                  <div class="weui-uploader__input-box" id='picker1'>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="tab2 tab-content hidden">
                  <%= f.input :physical_examination, as: :text, wrapper: :weui_input %>
                  <%= f.input :laboratory_and_supplementary_examinations, as: :text, wrapper: :weui_input %>
                  <div class="weui-cell">
                      <div class="weui-cell__bd">
                          <div class="weui-uploader weui_uploader2">
                              <div class="weui-uploader__hd">
                                  <p class="weui-uploader__title">实验室检查图片</p>
                                  <!-- <div class="weui-uploader__info">0/2</div> -->
                              </div>
                              <div class="weui-uploader__bd">
                                  <ul class="weui-uploader__files" id="uploaderFiles">
                                    <li class="weui-uploader__file holder" style="background:rgba(74, 56, 66, 0.13)"></li>
                                  </ul>
                                  <div class="weui-uploader__input-box" id='picker2'>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <%= f.input :imaging_examination, as: :text, wrapper: :weui_input %>
                  <div class="weui-cell">
                      <div class="weui-cell__bd">
                          <div class="weui-uploader weui_uploader3">
                              <div class="weui-uploader__hd">
                                  <p class="weui-uploader__title">影像学意见图片</p>
                                  <!-- <div class="weui-uploader__info">0/2</div> -->
                              </div>
                              <div class="weui-uploader__bd">
                                  <ul class="weui-uploader__files" id="uploaderFiles">
                                    <li class="weui-uploader__file holder" style="background:rgba(74, 56, 66, 0.13)"></li>
                                  </ul>
                                  <div class="weui-uploader__input-box" id='picker3'>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">BMI指数</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[bmi]">
                          <%= options_for_select MedicalRecord::BMI, 15 %>
                        </select>
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">体温(℃)</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[temperature]">
                          <%= options_for_select MedicalRecord::TEMPERATURES, 39 %>
                        </select>
                    </div>
                  </div>

                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">脉搏(次/分钟)</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[pulse]">
                          <%= options_for_select MedicalRecord::PULSES, 45 %>
                        </select>
                    </div>
                  </div>

                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">呼吸次数(次/分钟)</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[respiratory_rate]">
                          <%= options_for_select MedicalRecord::RESPIRATORY_RATES, 60 %>
                        </select>
                    </div>
                  </div>
                  <!-- <%= f.input :blood_pressure, wrapper: :weui_input %> -->
                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">血压(mmHg)</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[blood_pressure]">
                          <%= options_for_select MedicalRecord::BLOOD_PRESSURES, 80 %>
                        </select>
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">氧饱和度(%)</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[oxygen_saturation]">
                          <%= options_for_select MedicalRecord::OXYGEN_SATURATIONS, 50 %>
                        </select>
                    </div>
                  </div>
                  <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">疼痛指数</label>
                    </div>
                    <div class="weui-cell__bd weui-cell_primary">
                        <select class="weui-select" name="medical_record[pain_score]">
                          <%= options_for_select MedicalRecord::PAIN_SCORES, 60 %>
                        </select>
                    </div>
                  </div>
                </div>

                <div class="tab3 tab-content hidden">
                  <%= f.input :preliminary_diagnosis, as: :text, wrapper: :weui_input %>
                  <%= f.input :treatment_recommendation, as: :text, wrapper: :weui_input %>
                  <%= f.input :remarks, as: :text, wrapper: :weui_input %>
                </div>

                <div class="weui-btn-area">
                  <button class="weui-btn weui-btn__primary">确定</button>
                </div>

              <% end %>
            </div>
        </div>
    </div>
</div>
