<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <div class="weui-cells__title">表单</div>
              <div class="weui-cells weui-cells_form">
                <%= render 'new_form', url: my_patients_medical_records_path, method: 'POST' %>
              </div>
            </div>
            </div>
          </div>

      </div>

      <%= render 'tab_bar' %>

  </div>
</div>

<%- content_for :js  do %>
  <script type="text/javascript">
    $(document).on("ready", function(){
      $('.weui-navbar__item').on('click', function (e) {
        $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');

        index = $('.weui-navbar__item').index($(e.target))
        console.log(index);
        $('.tab-content').not('.tab'+ (index+1)).hide();
        $('.tab'+ (index+1)).show()
      });
    })
  </script>
<% end %>

<%- content_for :js  do %>
  <%= javascript_include_tag :uploader %>
  <script type="text/javascript">
    $(document).on("ready", function(){

      // uploader1 = new uploader( 'picker1', '.weui_uploader1', '/global_images.js', 'multiple', 'medical_record_images')
      // uploader2 = new uploader( 'picker2', '.weui_uploader2', '/global_images.js', 'multiple', 'laboratory_examination_images')
      // uploader3 = new uploader( 'picker3', '.weui_uploader3', '/global_images.js', 'multiple', 'imaging_examination_images')

      console.log(isWeiXin())
      console.log(isAndroid())


      if( isWeiXin() && isAndroid() ){

        // z-index可以遮住plupload生成的上传按钮, iOS的plupload选择框有拍照功能，所以用plupload
        // android 用 wx js sdk, 设置z-index 把plupload上传按钮遮住
        $(".weui-uploader__input-box").attr('z-index', 9999)

        wx.config({
          debug: false,
          appId: "<%= @appId %>",
          timestamp: "<%= @timestamp %>",
          nonceStr: "<%= @nonceStr %>",
          signature: "<%= @signature %>",
          jsApiList: ['checkJsApi', 'chooseWXPay', 'chooseImage', 'uploadImage', 'downloadImage', 'openLocation', 'getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function(){
          // alert('config is ready, checking js api available');
          wx.checkJsApi({
             jsApiList: [
               'chooseWXPay',
               'previewImage',
               'chooseImage',
               'uploadImage',
               'downloadImage'
             ],
             success: function (res) {
               console.log(JSON.stringify(res));
             }
           });

        });

        wx.error(function(){
          alert('config is error');
        })

        $(document).on('click', '#picker1, #picker2, #picker3', function(e){

          uploader1.disableBrowse()
          uploader2.disableBrowse()
          uploader3.disableBrowse()

          // console.log('chooseImage')

          function uploadPhotosField(i){
            uploadPhotosField = ""
            switch ($(e.target).attr('id')) {
              case 'picker1':
                uploadPhotosField = "medical_record[medical_record_images_attributes][" + i + "][media_id]"
                break;
              case 'picker2':
                uploadPhotosField = "medical_record[laboratory_examination_images][" + i + "][media_id]"
                break;
              default:
                uploadPhotosField = "medical_record[imaging_examination_images][" + i + "][media_id]"
                break;
            }
            return uploadPhotosField
          }


          var localIds;
          wx.chooseImage({
              count:      1,
              sizeType:   ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
              sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
              success: function (res) {
                  localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片

                  for (var i = 0; i < localIds.length; i++) {
                    $files = $(e.target).parents('.weui-uploader').find('.weui-uploader__files')
                    $files.find('.weui-uploader__file.holder').remove()
                    // $files = $('.weui_uploader2').find('.weui-uploader__files')
                    // $files.find('.weui-uploader__file.holder').remove()
                    $li = $('<li class="weui-uploader__file">').css("background-image", "url(" + localIds[i] + ")")
                    $files.append($li)

                    // var img = new mOxie.Image();
                    // img.load(localIds[i])


                    wx.uploadImage({
                      localId: localIds[i].toString(),
                      isShowProgressTips: 1,
                      success: function(res) {
                        // alert('upload complete, serverId is ')
                        // alert(res.serverId)

                        // $li = $(e.target).parents('.weui-uploader').find('.weui-uploader__files li').eq(i)
                        $input = $('<input type="hidden">').attr("name", uploadPhotosField(i)).attr('value', res.serverId)
                        $i = $("i.weui-icon-delete.weui-icon_gallery-delete").css("float: right;margin-top: 2px;")
                        $li.append($input)
                        $li.append($i)

                        // alert('input field name is')
                        // alert($li.find('input').attr('name'))
                        // alert('input field value is')
                        // alert($li.find('input').attr('value'))
                        // alert('images length is')
                        // alert($files.find('li input').length);

                      },
                      fail: function(res) {
                        alert(JSON.stringify(res));
                      }
                    })

                  }


              }
          });
        })



        // 提交之前 要重排图片的索引
        $('form').submit(function(){

          $('.weui_uploader1').find('.weui-uploader__files').find('li.weui-uploader__file').each(function(index, element){
            $(element).find('input').attr('name', "medical_record[medical_record_images_attributes][" + index + "][media_id]")
          })

          $('.weui_uploader2').find('.weui-uploader__files').find('li.weui-uploader__file').each(function(index, element){
            $(element).find('input').attr('name', "medical_record[laboratory_examination_images_attributes][" + index + "][media_id]")
          })

          $('.weui_uploader3').find('.weui-uploader__files').find('li.weui-uploader__file').each(function(index, element){
            $(element).find('input').attr('name', "medical_record[imaging_examination_images_attributes][" + index + "][media_id]")
          })

        })

      }else{

        uploader1 = new uploader( 'picker1', '.weui_uploader1', '/global_images.js', 'multiple', 'medical_record_images')
        uploader2 = new uploader( 'picker2', '.weui_uploader2', '/global_images.js', 'multiple', 'laboratory_examination_images')
        uploader3 = new uploader( 'picker3', '.weui_uploader3', '/global_images.js', 'multiple', 'imaging_examination_images')

        // delegate click weui upload icon to uploader
        $(document).on('click', '.weui-uploader__input-box', function(e){
          $(e.target).parent('.weui-uploader__bd').find('.moxie-shim input[type=file]').trigger('click')
        })

      }

      // 删除图片按钮
      $(document).on('click', '.weui-icon-delete', function(e){
        $files = $(e.target).parents('.weui-uploader__files')
        $(e.target).parents('li').remove()
        // 删除之后要重排图片的索引
        $files.find('li.weui-uploader__file').each(function(index, element){
          $(element).find('input').attr('name', "medical_record[medical_record_images_attributes][" + index + "][media_id]")
        })
      })

    })
  </script>
<% end %>
