<div class="tabbar">
  <div class="weui_tab">
      <div class="weui_tab_bd">

          <div class="panel">
            <div class="bd">
              <div class="weui_cells_title">表单</div>
              <div class="weui_cells weui_cells_form">
                <%= simple_nested_form_for resource, url: my_patients_medical_records_path, method: 'POST' do |f| %>

                <%= f.input :height, wrapper: :weui_input %>
                <%= f.input :weight, wrapper: :weui_input %>
                <%= f.input :bmi, wrapper: :weui_input %>
                <%= f.input :temperature, wrapper: :weui_input %>
                <%= f.input :pulse, wrapper: :weui_input %>
                <%= f.input :respiratory_rate, wrapper: :weui_input %>
                <%= f.input :blood_pressure, wrapper: :weui_input %>
                <%= f.input :oxygen_saturation, wrapper: :weui_input %>
                <%= f.input :pain_score, wrapper: :weui_input %>

                <%= f.input :onset_date, as: :string, wrapper: :weui_input, input_html: { class: 'datepicker' } %>

                <%= f.input :chief_complaint, as: :text, wrapper: :weui_input %>
                <%= f.input :history_of_present_illness, as: :text, wrapper: :weui_input %>


                <%= f.input :past_medical_history, as: :text, wrapper: :weui_input %>
                <%= f.input :allergic_history, as: :text, wrapper: :weui_input %>
                <%= f.input :personal_history, as: :text, wrapper: :weui_input %>
                <%= f.input :family_history, as: :text, wrapper: :weui_input %>
                <%= f.input :vaccination_history, as: :text, wrapper: :weui_input %>
                <%= f.input :physical_examination, as: :text, wrapper: :weui_input %>
								<%= f.input :laboratory_and_supplementary_examinations, as: :text, wrapper: :weui_input %>
								<div class="weui_cell">
										<div class="weui_cell_bd weui_cell_primary">
												<div class="weui_uploader weui_uploader1">
														<div class="weui_uploader_hd weui_cell">
																<div class="weui_cell_bd weui_cell_primary">实验室检查图片</div>
														</div>
														<div class="weui_uploader_bd">
																<ul class="weui_uploader_files">
																	<li class="weui_uploader_file">
																	</li>
																</ul>
																<div class="weui_uploader_input_wrp" id='picker1'>
																</div>
														</div>
												</div>
										</div>
								</div>

		            <%= f.input :imaging_examination, as: :text, wrapper: :weui_input %>
								<div class="weui_cell">
										<div class="weui_cell_bd weui_cell_primary">
												<div class="weui_uploader weui_uploader2">
														<div class="weui_uploader_hd weui_cell">
																<div class="weui_cell_bd weui_cell_primary">影像学意见图片</div>
														</div>
														<div class="weui_uploader_bd">
																<ul class="weui_uploader_files">
																	<li class="weui_uploader_file">
																	</li>
																</ul>
																<div class="weui_uploader_input_wrp" id='picker1'>
																</div>
														</div>
												</div>
										</div>
								</div>
								<%= f.input :preliminary_diagnosis, as: :text, wrapper: :weui_input %>
		            <%= f.input :treatment_recommendation, as: :text, wrapper: :weui_input %>
		            <%= f.input :remarks, as: :text, wrapper: :weui_input %>
								<div class="weui_btn_area">
				          <!-- <a class="weui_btn weui_btn_primary" href="javascript:">确定</a> -->
				          <button class="weui_btn weui_btn_primary">确定</button>
				        </div>
                <% end %>
            </div>

            </div>
          </div>

      </div>
      <div class="weui_tabbar">
          <a href="/my/patients/reservations" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                  <img src="/icon_nav_button.png" alt="">
              </div>
              <p class="weui_tabbar_label">当前预约</p>
          </a>

          <a href="/posts" class="weui_tabbar_item">
              <div class="weui_tabbar_icon">
                  <img src="/icon_nav_article.png" alt="">
              </div>
              <p class="weui_tabbar_label">必读文章</p>
          </a>
          <a href="/my/patients/index" class="weui_tabbar_item weui_bar_item_on">
              <div class="weui_tabbar_icon">
                  <img src="/icon_nav_cell.png" alt="">
              </div>
              <p class="weui_tabbar_label">我</p>
          </a>
      </div>
  </div>
</div>
