<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

          <div class="panel">
            <div class="bd">
              <div class="weui-cells__title">表单</div>
              <div class="weui-cells weui-cells_form">
                <%= render 'new_form', url: my_patients_medical_records_path, method: 'POST' %>
              </div>
            </div>

            </div>
          </div>

      </div>

      <div class="weui-tabbar">
        <a href="/my/patients/reservations" class="weui-tabbar__item">
          <img src="/icon_nav_button.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">当前预约</p>
        </a>

        <a href="/posts" class="weui-tabbar__item">
          <img src="/icon_nav_article.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">必读文章</p>
        </a>
        <a href="/my/patients/index" class="weui-tabbar__item weui_bar__item_on">
          <img src="/icon_nav_cell.png" alt="" class="weui-tabbar__icon">
          <p class="weui-tabbar__label">我</p>
        </a>
      </div>

  </div>
</div>


<%- content_for :js  do %>
  <%= javascript_include_tag :uploader %>
  <script type="text/javascript">
    $(document).on("ready", function(){


      console.log(isWeiXin())
      console.log(isAndroid())


      if( true ){

        uploader1 = new uploader( 'picker1', '.weui_uploader1', '/global_images.js', 'multiple', 'medical_record_images', true)
        uploader2 = new uploader( 'picker2', '.weui_uploader2', '/global_images.js', 'multiple', 'laboratory_examination_images', true)
        uploader3 = new uploader( 'picker3', '.weui_uploader3', '/global_images.js', 'multiple', 'imaging_examination_images', true)

        uploader1.bind('browse', function(up, files){
          console.log('Browse .......')
        })

        wx.config({
          debug: false,
          appId: "<%= @appId %>",
          timestamp: "<%= @timestamp %>",
          nonceStr: "<%= @nonceStr %>",
          signature: "<%= @signature %>",
          jsApiList: ['checkJsApi', 'chooseWXPay', 'chooseImage', 'uploadImage', 'downloadImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function(){
          alert('config is ready, checking js api available');
          wx.checkJsApi({
             jsApiList: [
               'chooseWXPay',
               'previewImage',
               'chooseImage',
               'uploadImage',
               'downloadImage'
             ],
             success: function (res) {
               alert(JSON.stringify(res));
             }
           });

        });

        wx.error(function(){
          alert('config is error');
        })

        $('body').on('click', '#picker1, #picker2, #picker3', function(e){


          alert('chooseImage ')

            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                    for (var i = 0; i<localIds.length; i++) {
                      $files = $(e.target).parents('.weui-uploader')
                      $files.find('.weui-uploader__file.holder').remove()
                      $files.append('<li class="weui-uploader__file" style="background-image:url(" + localIds[i] + ">"' +
                      '<input type="hidden" name="reservation[photos][]" value=" + localIds[i] + "></li>"')
                    }
                }
            });

            // wx.uploadImage({
            //     localId: '', // 需要上传的图片的本地ID，由chooseImage接口获得
            //     isShowProgressTips: 1, // 默认为1，显示进度提示
            //     success: function (res) {
            //         var serverId = res.serverId; // 返回图片的服务器端ID
            //     }
            // });

          })







      }else{

        uploader1 = new uploader( 'picker1', '.weui_uploader1', '/global_images.js', 'multiple', 'medical_record_images')
        uploader2 = new uploader( 'picker2', '.weui_uploader2', '/global_images.js', 'multiple', 'laboratory_examination_images')
        uploader3 = new uploader( 'picker3', '.weui_uploader3', '/global_images.js', 'multiple', 'imaging_examination_images')


      }
    })
  </script>
<% end %>
