<div class="weui-cells">
  <div class="weui-cell">
    <div class="weui-cell__bd">
        <p>预约时间</p>
    </div>
    <div class="weui-cell__ft">
      <% if resource.d_date.present? %>
        <%= resource.d_date %>
      <% else %>
        <%= resource.p_date %>
      <% end %>
    </div>
  </div>

  <div class="weui-cell">
    <div class="weui-cell__bd">
        <p>预约地点</p>
    </div>
    <div class="weui-cell__ft">
      <% if resource.d_location.present? %>
        <%= resource.d_location %>
      <% else %>
        <%= resource.p_location %>
      <% end %>
    </div>
  </div>

  <div class="weui-cell">
    <div class="weui-cell__bd">
        <p>症状描述</p>
    </div>
    <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:58px;margin-right:5px;display:block"></div>
    <div class="weui-cell__ft"><%= resource.chief_complains %></div>
  </div>
</div>

<div class="weui-btn-area">
  <a href="javascript:;" class="weui-btn weui-btn_default" id="showIOSDialog1">取消预约</a>
</div>

<div id="dialogs">
    <div class="js_dialog" id="iosDialog1" style="opacity: 1; display: none">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">确认取消</strong></div>
            <div class="weui-dialog__bd">正在为您匹配医生，确认要取消本次预约吗？</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">返回</a>
                <%= link_to "确认", patients_reservation_path(resource, event: 'cancel'), method: 'PUT', class: 'weui-dialog__btn weui-dialog__btn_warn', style: 'color: red;' %>
            </div>
        </div>
    </div>
</div>

<%- content_for :js do %>
<script type="text/javascript">
    $(function(){
        $(document).on('click', '#showIOSDialog1', function(){
            $('#iosDialog1').fadeIn(200);
        });

        $(document).on('click', '#dialogs .weui-dialog__btn', function(){
          $(this).parents('.js_dialog').fadeOut(200);
        });
      })
</script>
<% end %>
