<div class="msg">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui-msg__title">支付定金</h2>
            <p class="weui-msg__desc">请支付预约定金, 方便医生和你确认咨询方式(电话咨询或线下见面咨询). 测试阶段定金只要5元</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
              <%= link_to "完善基本信息", edit_patients_settings_path, class: 'weui-btn weui-btn__primary', data: { turbolinks: "false" } %>

							<%- if resource.medical_record.present?  %>
								<%= link_to "修改病例", edit_patients_medical_record_path(resource.medical_record, reservation_id: resource, user_id: resource.user_a), class: 'weui-btn weui-btn__primary', data: { turbolinks: "false" } %>
							<% else %>
              	<%= link_to "补充病例资料", new_patients_medical_record_path(reservation_id: resource, user_id: resource.user_a), class: 'weui-btn weui-btn__primary', data: { turbolinks: "false" } %>
							<% end %>

              <%= link_to "查看个人资料", patients_profile_path, class: 'weui-btn weui-btn__primary', data: { turbolinks: "false" } %>

              <a href="javascript: IM.call(<%= current_user.id %>, <%= @reservation.user_b %>, <%= @reservation.id %>, <%= @reservation.reservation_phone %>, <%= @reservation.try(:doctor_user).try(:doctor).try(:mobile_phone) %>);" class="weui-btn weui-btn__primary">拨打医生电话</a>

            </p>
        </div>
        <div class="weui-msg__extra-area">
            <a href="">帮助</a>
        </div>
    </div>
</div>
