<div class="weui-cells">
  <div class="weui-cell">
    <div class="weui-cell__bd">
        <p>预约时间</p>
    </div>
    <div class="weui-cell__ft">
      <%= resource.p_date %>
    </div>
  </div>

  <div class="weui-cell">
    <div class="weui-cell__bd">
        <p>预约地点</p>
    </div>
    <div class="weui-cell__ft">
      <% if resource.d_location.present? %>
        <%= resource.d_location %>
      <% else %>
        <%= resource.p_location %>
      <% end %>
    </div>
  </div>

<%= link_to chief_complains_patients_reservations_path(id: resource), class: 'weui-cell weui-cell_access' do %>
      <div class="weui-cell__bd">
          <p>症状描述</p>
      </div>
      <div class="weui-cell__ft"><%= resource.chief_complains %></div>
<% end %>

</div>

<div class="weui-btn-area">
  <%= link_to "支付定金", wx_payment_path(reservation_id: resource), class: "weui-btn weui-btn_primary" %>
  <!-- <%= link_to "取消预约", patients_reservation_path(resource), method: 'DELETE', class: 'weui-btn weui-btn_default', id: 'deleteReservation' %> -->
  <a href="javascript:;" class="weui-btn weui-btn_default" id="showIOSDialog1">取消预约</a>
</div>

  <div id="dialogs">
      <div class="js_dialog" id="iosDialog1" style="opacity: 1; display: none">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
              <div class="weui-dialog__hd"><strong class="weui-dialog__title">确认取消</strong></div>
              <div class="weui-dialog__bd">取消预约将删除此次预约信息</div>
              <div class="weui-dialog__ft">
                  <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">返回</a>
                  <!-- <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确认</a> -->
                  <%= link_to "确认", patients_reservation_path(resource), method: 'DELETE', class: 'weui-dialog__btn weui-dialog__btn_warn', style: 'color: red;' %>

              </div>
          </div>
      </div>
  </div>

<%- content_for :js do %>
  <script type="text/javascript">
      $(function(){
          $(document).on('click', '#showIOSDialog1', function(){
              $('#iosDialog1').fadeIn(200);
          });

          $(document).on('click', '#dialogs .weui-dialog__btn', function(){
            $(this).parents('.js_dialog').fadeOut(200);
          });
        })
  </script>
<% end %>
