<%= render 'base_info' %>

<%= render 'examinations' %>

<div class="weui-btn-area">
  <a href="javascript: IM.call(<%= current_user.id %>, <%= resource.doctor_id %>, <%= resource.id %>, <%= resource.doctor.mobile_phone %>, <%= resource.patient_user_phone %>);" class="weui-btn weui-btn_primary">联系医生</a>
  <a href="tel:4000719136" class="weui-btn weui-btn_default">拨打客服电话</a>
</div>
