<%= render 'base_info' %>

<%= render 'examinations' %>

<div class="weui-btn-area">
  <% if resource.medical_record.present? %>
    <%= link_to '修改病历', edit_doctors_medical_record_path(resource.medical_record, reservation_id: resource, user_id: resource.family_member), class: 'weui-btn weui-btn_primary'  %>
  <% else %>
    <%= link_to '填写病历', new_doctors_medical_record_path(reservation_id: resource, user_id: resource.family_member), class: 'weui-btn weui-btn_primary'  %>
  <% end %>
  <%= link_to '查看既往病历', '#', class: 'weui-btn weui-btn_default'  %>
</div>
