<!-- <%= link_to doctors_reservation_path(res) do %>
  <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text">
					<h4 class="weui-media-box__title"> <%= res.user.name %>的<%= res.family_member.gender_text %><%= res.family_member.name %> </h4>
          <p class="weui-media-box__desc"> <%= res.chief_complains %></p>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta"><%= res.reservation_phone %></li>
            <li class="weui-media-box__info__meta"><%= res.created_at.strftime('%Y.%m.%d %H:%M') %></li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta__extra"><%= res.location %></li>
          </ul>
      </div>
			<div class="weui_media_status">
				<span>
					<%- if res.doctor_has_rated? %>
					 	已评价
					<% else %>
						<%= res.aasm_state_text %>
					<% end %>
				</span>
			</div>
  </div>
<% end %> -->
<%= link_to doctors_reservation_path(res), class: "weui-cell weui-cell_access", data: { turbolinks: false} do %>
  <div class="weui-cell__hd">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:60px;margin-right:5px;display:block">
    <div class="weui_media_status">

      <%- if res.patient_has_rated? %>
      已评价
      <% else %>
      <%= res.aasm_state_text %>
      <% end %>

    </div>
  </div>
  <div class="weui-cell__bd">
    <p><%= res.user.name %>的<%= res.family_member.gender_text %><%= res.family_member.name %></p>
    <p class="weui-media-box__desc"><%= res.chief_complains %></p>
    <p class="weui-media-box__desc">预约时间: <%= res.reservation_time %></p>
    <p class="weui-media-box__desc">预约地点: <%= res.reservation_location %></p>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
