<div class="weui-panel weui-panel_access" id="base-info">
  <div class="weui-panel__hd">患者预约信息</div>

  <div class="weui-cell">
    <div class="weui-cell__bd">
        <p>期望时间</p>
    </div>
    <div class="weui-cell__ft"><%= date_format(resource.p_date) %></div>
  </div>

  <div class="weui-media-box weui-media-box_text">
    <h4 class="weui-media-box__title">期望地点</h4>
    <p class="weui-media-box__desc"><%= resource.p_location %></p>
  </div>

  <div class="weui-media-box weui-media-box_text">
    <h4 class="weui-media-box__title">症状描述</h4>
    <p class="weui-media-box__desc"><%= resource.chief_complains %></p>
  </div>
  <div class="weui-panel__ft">
    <%= link_to chief_complains_doctors_reservations_path(id: resource), class: "weui-cell weui-cell_access weui-cell_link"  do %>
      <div class="weui-cell__bd">查看更多</div>
      <span class="weui-cell__ft"></span>
    <% end %>
  </div>
</div>

<div class="weui-panel weui-panel_access" id="doctor-reservation">
  <div class="weui-panel__hd">您的预约信息</div>
  <div class="weui-cell">
    <div class="weui-cell__hd">
      <label class="weui-label">时间</label>
    </div>
    <div class="weui-cell__bd weui-cell_primary">
      <input class="weui-input" name="reservation[d_date]" placeholder="您想预约的时间" type="datetime-local" value="" data-parsley-required="true">
    </div>
  </div>

  <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd">
          <label class="weui-label">地点</label>
      </div>
      <div class="weui-cell__bd">
      </div>
      <div class="weui-cell__ft">
        <a href="javascript:void(0)" class="weui-vcode-btn">定位</a>
      </div>
  </div>
  <div class="weui-cell">
      <div class="weui-cell__bd">
          <textarea class="weui-textarea"  id="location" name="reservation[d_location]" data-parsley-required="true" placeholder="请输入您的地址或您想预约见面的地点" rows="2"><%= current_user.location %></textarea>
      </div>
  </div>
</div>

<div class="weui-panel weui-panel_access" id="examinations">
  <div class="weui-cell weui-cell_switch">
      <div class="weui-cell__bd">检查项目</div>
      <div class="weui-cell__ft">
        <% if resource.reservation_examinations.any? %>
          <input class="weui-switch" type="checkbox" checked>
        <% else %>
          <input class="weui-switch" type="checkbox">
        <% end %>
      </div>
  </div>

  <% if resource.reservation_examinations.any? %>
    <% resource.reservation_examinations.each do |re| %>
      <div class="weui-cell add-examinations">
        <div class="weui-cell__bd">
        <%= re.examination.name %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if resource.reservation_examinations.any? %>
    <%= link_to edit_doctors_examination_path(reservation_id: resource), class: "weui-cell weui-cell_access add-examinations" do %>
      <div class="weui-cell__bd">
        <p>修改检查项目</p>
      </div>
      <div class="weui-cell__ft">
      </div>
    <% end %>
  <% else %>
    <%= link_to new_doctors_examination_path(reservation_id: resource), class: "weui-cell weui-cell_access add-examinations" do %>
      <div class="weui-cell__bd">
        <p>添加检查项目</p>
      </div>
      <div class="weui-cell__ft">
      </div>
    <% end %>
  <% end %>

</div>


<div class="weui-btn-area">
  <%= link_to "接单", '', class: 'weui-btn weui-btn_primary btn-claim', data: { turbolinks: "false" } %>
  <%= link_to "拒单", '', class: 'weui-btn weui-btn_default', data: { turbolinks: "false" } %>
  <a href="javascript: IM.call(<%= current_user.id %>, <%= resource.doctor_id %>, <%= resource.id %>, <%= current_user.doctor.mobile_phone %>, <%= resource.patient_user_phone %>);" class="weui-btn weui-btn_default">拨打患者电话</a>
</div>

<%= content_for :js do %>
  <%= javascript_tag do %>
    $(function(){

      $(document).on('click', '.btn-claim', function(e){
        e.preventDefault();
        $.ajax({
          url: '<%= doctors_reservation_path(resource) %>',
          type: 'PUT',
          data: {
            csrf_token: $("meta[name=csrf-token]").attr('content'),
            reservation:{
              d_location: $('input[name="reservation[d_location]"]').val(),
              d_date: $('input[name="reservation[d_date]"]').val(),
              examinations: $('.weui-switch').val(),
              event: 'claim'
            }
          }
        }).done(function(data, textStatus, jqXHR) {
            console.log("success");
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("error");
        }).always(function(data, textStatus, jqXHR) {
            console.log("complete");
        })
      });

      $('.add-examinations').hide();
      $('.weui-switch').change(function(e){
        $('.add-examinations').toggle();
      });

      <% if resource.reservation_examinations.any? %>
        $('.add-examinations').show();
      <% end %>
    })
  <% end %>
  <%= javascript_pack_tag 'config_js_sdk',  'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'reservation_new',  'data-turbolinks-track': 'reload' %>
<% end %>
