<%= render 'base_info' %>

<%= render 'examinations' %>

<%= render 'diagnosis_info' %>

<div class="weui-msg__opr-area">
  <p class="weui-btn-area">
    <a href="javascript: IM.call(<%= current_user.id %>, <%= resource.user_id %>, <%= resource.id %>, <%= current_user.doctor.try(:mobile_phone) %>, <%= resource.patient_user_phone %>);" class="weui-btn weui-btn_primary">拨打患者电话</a>
  </p>
</div>
