<div class="msg">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui-msg__title">你已经服务完成，请等待用户支付咨询服务费</h2>
            <p class="weui-msg__desc">支付完成后，你可以对用户进行评价</p>
        </div>
        <div class="weui-msg__opr-area">
          <p class="weui-btn-area">
            <a href="javascript: IM.call(<%= current_user.id %>, <%= resource.user_id %>, <%= resource.id %>, <%= current_user.doctor.try(:mobile_phone) %>, <%= resource.patient_user_phone %>);" class="weui-btn weui-btn_primary">拨打患者电话</a>
          </p>
        </div>
        <div class="weui-msg__extra-area">
            <a href="">帮助</a>
        </div>
    </div>
</div>
