<div class="msg">
    <div class="weui-msg">
        <div class="weui-msg__icon-area">
          <%= image_tag resource.patient_user.avatar %>
        </div>

        <div class="weui_text_area">
            <h2 class="weui-msg__title">预约人: <%= resource.name %></h2>
            <p class="weui-msg__desc"><%= resource.chief_complains %></p>
            <p class="weui-msg__desc">想预约在: <%= resource.reservation_date.strftime('%Y.%m.%d %H:%M') %></p>
            <p class="weui-msg__desc">联系电话: <%= resource.reservation_phone %></p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
              <a href="<%= doctors_reservation_path(resource) %>" class="weui-btn weui-btn__primary">这个时间OK, 我要接受预约</a>
              我想和预约人协商下时间,
              <a href="javascript: IM.call(<%= current_user.id %>, <%= resource.user_a %>, <%= resource.id %>, <%= current_user.doctor.mobile_phone %>, <%= resource.patient_user_phone %>);" class="weui-btn weui-btn_default">
                拨打预约人电话
              </a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <a href="">帮助</a>
        </div>
    </div>
</div>
