<div class="tabbar">
  <div class="weui-tab">
    <div class="weui-tab__panel">

      <div class="weui-panel weui-panel_access" id="personal-info">
        <div class="weui-cell">
          <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
            <% if resource.family_member.present? %>
              <%= image_tag resource.family_member.avatar %>
            <% end %>
            <div class="weui_media_status">
              <%= resource.aasm_state_text %>
            </div>
          </div>
          <div class="weui-cell__bd">
            <h4><%= resource.family_member.name %></h4>
            <ul class="weui-cell__bd_ul">
              <li>性别: <%= resource.family_member.gender %></li>
              <li>年龄: <%= age_in_natural_language(resource.family_member.human_age) %></li>
              <li>身高: <%= resource.height %></li>
              <li>体重: <%= resource.weight %></li>
              <li>血型: <%= resource.family_member.blood_type %></li>
            </ul>
          </div>
        </div>
      </div>

      <%- if resource.doctor_has_rated? %>
        <%= render 'rated' %>
      <%- elsif resource.to_prepay? %>
        <%= render 'to_prepay' %>
      <% elsif resource.to_consult? %>
        <%= render 'to_consult' %>
      <% elsif resource.consulting? %>
        <%= render 'consulting' %>
      <% elsif resource.to_examine? %>
        <%= render 'to_examine' %>
      <% elsif resource.prepaid? %>
        <%= render 'prepaid' %>
      <% elsif resource.to_pay? %>
        <%= render 'to_pay' %>
      <% elsif resource.paid? %>
        <%= render 'paid' %>
      <% end %>
    </div>
    <%= render 'tab_bar' %>
    </div>
  </div>
</div>
