<!-- <div class="msg">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui-msg__title">拨打电话或短信</h2>
            <p class="weui-msg__desc">请尽快直接短信通知用户来咨询，如有变化请给用户拨打电话解释并沟通, 然后再送短信通知</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
              <a href="<%= claim_doctors_reservation_path(resource) %>" class="weui-btn weui-btn__primary">发送短信</a>
              <a href="javascript: IM.call(<%= current_user.id %>, <%= resource.user_a %>, <%= resource.id %>, <%= current_user.doctor.mobile_phone %>, <%= resource.patient_user_phone %>);" class="weui-btn weui-btn_default">拨打电话</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <a href="">帮助</a>
        </div>
    </div>
</div> -->

<div class="tabbar">
  <div class="weui-tab">
    <div class="weui-tab__panel">
      <%- if resource.doctor_has_rated? %>
        <%= render 'rated' %>
      <%- elsif resource.pending? %>
        <%= render 'pending' %>
      <% elsif resource.reserved? %>
        <%= render 'reserved' %>
      <% elsif resource.prepaid? %>
        <%= render 'prepaid' %>
      <% elsif resource.diagnosed? %>
        <%= render 'diagnosed' %>
      <% elsif resource.paid? %>
        <%= render 'paid' %>
      <% end %>
    </div>
    <%= render 'tab_bar' %>
    </div>
  </div>
</div>
