<%- default_date = Time.zone.tomorrow.at_beginning_of_day.advance(hours: 10).strftime("%Y-%m-%dT%H:%M") %>

<%= simple_form_for Reservation.new, url: reservations_path, method: 'POST', html: { class: 'parsley-validate new_reservation'} do |f| %>
  <div class="weui-cells weui-cells_form">

    <% if current_user.children.any? %>
      <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
          <label class="weui-label">为谁预约</label>
        </div>
        <div class="weui-cell__bd weui-cell_primary">
          <select class="weui-select" name="reservation[family_member_id]" data-parsley-required="true">
            <%= options_for_select  current_user.children.map {|x| [x.name, x.id] }, params[:family_member_id] %>
          </select>
        </div>
      </div>
    <% else %>
      <div class="weui-cell">
          <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
          <div class="weui-cell__bd">
              <input class="weui-input" type="text" name="user[name]" placeholder="请输入小孩姓名" data-parsley-required="true">
          </div>
      </div>

      <div class="weui-cell">
        <div class="weui-cell__hd"><label for="" class="weui-label">生日</label></div>
        <div class="weui-cell__bd weui-cell_primary">
          <input class="weui-input birthdate" type="date" name="user[birthdate]" data-parsley-required="true">
        </div>
      </div>

      <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
            <label for="" class="weui-label">性别</label>
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <select class="weui-select" name="user[gender]" data-parsley-required="true">
              <%= options_for_select MedicalRecord::GENDERS, "男" %>
            </select>
        </div>
      </div>

    <% end %>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">身高(cm)</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <input class="weui-input" name="reservation[height]" data-parsley-required="true" type="number" >
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">体重(kg)</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <input class="weui-input" name="reservation[weight]" data-parsley-required="true" type="number" >
      </div>
    </div>

  </div>

  <div class="weui-cells weui-cells_form">

    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">您的位置</label>
        </div>
        <div class="weui-cell__bd">
        </div>
        <div class="weui-cell__ft">
          <a href="javascript:void(0)" class="weui-vcode-btn">定位</a>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" id="location" name="reservation[p_location]" data-parsley-required="true" placeholder="请输入您的地址或您想预约见面的地点" rows="2"><%= current_user.location %></textarea>
        </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">联系方式</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <input
          class="weui-input"
          name="reservation[p_phone]"
          placeholder="医生可以看到您的电话并联系你"
          type="number"
          data-parsley-required="true"
          data-parsley-pattern="/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/"
          data-parsley-type="integer"
          data-parsley-length="[11,11]"
          value="<%= current_user.mobile_phone %>">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">时间</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <input class="weui-input" name="reservation[p_date]" placeholder="请选择一个大概的时间" type="datetime-local" value="<%= default_date %>" data-parsley-required="true">
      </div>
    </div>

    <!-- <div class="weui-cells weui-cells_checkbox" style="margin: 0">
        <label class="weui-cell weui-check__label" for="s1">
            <div class="weui-cell__hd" style="padding-right: 0">
                <input type="checkbox" class="weui-check" name="reservation[can_be_arranged]" id="s1" checked="checked">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd ">
                <p>是否接受时间调配</p>
            </div>
        </label>
    </div> -->

  </div>

  <div class="weui-cells weui-cells_form">

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">选择症状</label>
      </div>
    </div>

    <div class="weui-cell">
      <div id="symptom-tags"></div>
    </div>

    <div class="weui-cell hide">
      <div id="symptom-tag-details"></div>
    </div>

    <div class="weui-cell weui-cell-remark">
      <div class="weui-cell__bd weui-cell_primary">
        <textarea class="weui-textarea" name="reservation[chief_complains]" data-parsley-required="true" placeholder="请简要描述您小孩的情况"></textarea>
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__bd">
        <div class="weui-uploader">
          <div class="weui-uploader__bd">
            <ul class="weui-uploader__files" id="uploaderFiles">
            </ul>
            <div class="weui-uploader__input-box" id='picker1' style="cursor:pointer">
            </div>
            <p id="uploader-placeholder">上传症状照片、病历、检查单，方便医生作诊断，最多上传5张</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="weui-btn-area">
    <%= f.button :submit, "确定", class: "weui-btn weui-btn_primary", data: { disable_with: '正在提交...' } %>
  </div>
<% end %>

<%= content_for :js do %>
  <%= javascript_tag do %>
    $(function(){

      window.reservation = {
        symptom_tag_details: <%= raw @symptom_details %>,
        symptom_tags: <%= raw @symptoms %>
      }

      var symptom_tag_details = window.reservation.symptom_tag_details;

      $("#symptom-tags").tags({
        values: window.reservation.symptom_tags,
        templates: {
          pill:
            '<span class="badge badge-info tag-badge" data-tag-id="{1}" style="overflow: hidden; white-space: nowrap;" class="tag-remove">{0}</span>',
          number: "<sup><small>{0}</small></sup>"
        },
        input_name: "tag_list[]",
        can_delete: false,
        can_add: false
      });

      $(document).on("click", "#symptom-tags .pills-list .badge", function(e) {
        $(e.target)
          .siblings()
          .removeClass("active")
          .end()
          .toggleClass("active");
        tag = $(e.target).text();
        details = [];
        for (var i = 0, len = symptom_tag_details.length; i < len; i++) {
          if (symptom_tag_details[i].name == tag) {
            details = symptom_tag_details[i].values;
          }
        }
        $("#symptom-tag-details")
          .parents(".weui-cell")
          .removeClass("hide");
        $("#symptom-tag-details").empty();
        $("#symptom-tag-details").tags({
          values: details,
          templates: {
            pill:
              '<span class="badge badge-info tag-badge" data-tag-id="{1}" style="overflow: hidden; white-space: nowrap;" class="tag-remove">{0}</span>',
            number: "<sup><small>{0}</small></sup>"
          },
          input_name: "tag_list[]",
          can_delete: false,
          can_add: false
        });
      });

      $(document).on(
        "click",
        "#symptom-tag-details .pills-list .badge",
        function(e) {
          $(e.target).toggleClass("active");
          details = [];
          $(e.target)
            .parent(".pills-list")
            .find(".badge.active")
            .map(function(i, e) {
              details.push($(e).text());
            });

          text = "大夫您好, 我的宝宝, ";

          console.log(text + details);
          $(".weui-cell-remark .weui-textarea").val(text + details);
        }
      );

      $(".simple_form.parsley-validate").parsley({ uiEnabled: true, errorsWrapper: "" })
        .on("field:error", function() {
          $(this.$element)
            .parents(".weui-cell")
            .addClass("validation_error");
        })
        .on("field:success", function() {
          $(this.$element)
            .parents(".weui-cell")
            .removeClass("validation_error");
        });
    })
  <% end %>
<% end %>

<%- content_for :js  do %>
  <%= javascript_pack_tag 'reservation_new' %>
<% end %>
