<div class="panel">
  <div class="hd">
    <h1 class="page_title">公共池列表</h1>
  </div>

  <div class="bd">

    <% @reservations.each do |res| %>
      <div class="weui_panel">
        <!-- <div class="weui_panel_hd">文字列表附来源</div> -->
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title"> <%= res.name %>的孩子 </h4>
                <p class="weui_media_desc"> <%= res.remark %></p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta"><%= res.marked_phone_number %></li>
                    <li class="weui_media_info_meta"><%= res.created_at.strftime('%Y.%m.%d %H:%M') %></li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra"><%= res.location %></li>
                </ul>
            </div>
        </div>
      </div>
    <% end %>
    
      
      <div class="weui_panel">
        <!-- <div class="weui_panel_hd">文字列表附来源</div> -->
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title">陈女士的女儿</h4>
                <p class="weui_media_desc">流鼻涕</p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">1891324****</li>
                    <li class="weui_media_info_meta">2016.7.14 9:10</li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra">其它信息</li>
                </ul>
            </div>
        </div>

        
      </div>

      <div class="weui_panel">
        <!-- <div class="weui_panel_hd">文字列表附来源</div> -->
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title">蔡女士的儿子</h4>
                <p class="weui_media_desc">发高烧。。。。。</p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">1372424****</li>
                    <li class="weui_media_info_meta">2016.7.14 9:10</li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra">其它信息</li>
                </ul>
            </div>
        </div>

        
      </div>

  </div>
</div>