<div class="tabbar">
  <div class="weui-tab">

    <div class="weui-tab__panel">
      <div class="panel">
        <div class="page__hd">
          <h1 class="page__title">我的小孩<%= @member.name %></h1>
          <p class="page__desc">这里是<%= @member.name %>所有的预约, 病历</p>
        </div>

        <div class="page__bd">
          <div class="weui-cells weui-cells__access">

            <!-- <div class="weui-panel weui-panel__access"> -->
            <a href="/patients/reservations" class="weui-cell weui-cell_access weui-cell_link">
              <!-- <div class="weui-panel__hd"> -->
              <div class="weui-cell__bd">关于<%= @member.name %>的预约</div>
              <span class="weui-cell__ft"></span>
              <!-- </div> -->
            </a>
            <!-- </div> -->

            <a href="/patients/medical_records" class="weui-cell weui-cell_access weui-cell_link">
              <!-- <div class="weui-panel__hd"> -->
              <div class="weui-cell__bd">关于<%= @member.name %>的病例信息</div>
              <span class="weui-cell__ft"></span>
              <!-- </div> -->
            </a>

            <%= link_to edit_patients_family_member_path(@member), class: "weui-cell weui-cell_access weui-cell_link" do %>
            <div class="weui-cell__bd">修改<%= @member.name %>的病例信息</div>
            <span class="weui-cell__ft"></span>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <%=  render 'tab_bar' %>

  </div>
</div>

<%- content_for :js do %>
<script type="text/javascript">
  $(function () {

    $(document).on('click', '.weui-panel__access .weui-panel__hd', function (e) {
      $(e.target).parents('.weui-panel__access').find('.weui-panel__bd .weui-media-box, .weui-cells').fadeToggle("slow", "linear");
    })

    $(document).on('click', '.weui-medical-record a.weui-cell', function (e) {
      $(e.target).parents('.weui-medical-record').find('.weui-medical-record-detail').toggleClass('hidden')
    })

  });
</script>
<% end %>
