<% title = "我的" + relationship_from_gender(@member.gender) + @member.name %>
<% content_for :title,  title %>

<div class="tabbar">
  <div class="weui-tab">

    <div class="weui-tab__panel">
      <div class="panel">
        <div class="page__hd" style="padding-bottom: 0;">

          <div class="page__hd" style="padding: 0;">
            <div class="weui-msg" style="padding: 0;">
              <div class="weui-msg__icon-area">
                  <%= image_tag @member.avatar %>
                </div>
              <div class="weui-msg__text-area" style="margin-bottom: 0;">
                  <h2 class="weui-msg__title">
                      <%= @member.name %>
                  </h2>
              </div>
            </div>
          </div>
        </div>

        <div class="page__bd">
          <div class="weui-cells weui-cells__access">
            <%= link_to patients_reservations_path(family_member_id: @member), class: "weui-cell weui-cell_access" do %>
              <div class="weui-cell__bd">
                <p>关于<%= @member.name %>的预约</p>
              </div>
              <div class="weui-cell__ft"></div>
            <% end %>

            <%= link_to edit_patients_family_member_path(@member), class: "weui-cell weui-cell_access" do %>
              <div class="weui-cell__bd">
                <p>修改<%= @member.name %>的信息</p>
              </div>
              <div class="weui-cell__ft"></div>
            <% end %>

            <%= link_to product_path(1, member_id: @member.id), class: "weui-cell weui-cell_access" do %>
              <div class="weui-cell__bd">
                <p>我要给<%= @member.name %>预约</p>
              </div>
              <div class="weui-cell__ft"></div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <%=  render 'patients/tab_bar' %>

  </div>
</div>

<%- content_for :js do %>
<script type="text/javascript">
  $(function () {

    $(document).on('click', '.weui-panel__access .weui-panel__hd', function (e) {
      $(e.target).parents('.weui-panel__access').find('.weui-panel__bd .weui-media-box, .weui-cells').fadeToggle("slow", "linear");
    })

    $(document).on('click', '.weui-medical-record a.weui-cell', function (e) {
      $(e.target).parents('.weui-medical-record').find('.weui-medical-record-detail').toggleClass('hidden')
    })

  });
</script>
<% end %>
