<%= simple_nested_form_for Setting.new, url: patients_settings_path, method: 'POST' do |f| %>

  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

  <div class="weui-cell">
    <div class="weui-cell__hd"><label for="" class="weui-label">生日</label></div>
    <div class="weui-cell__bd weui-cell_primary">
      <input class="weui-input" type="date" name="reservation[birthdate]">
    </div>
  </div>

  <div class="weui-cell weui-cell_select weui-cell_select-after">
    <div class="weui-cell__hd">
        <label for="" class="weui-label">性别</label>
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <select class="weui-select" name="reservation[gender]">
          <%= options_for_select MedicalRecord::GENDERS, "男" %>
        </select>
    </div>
  </div>

  <div class="weui-cell weui-cell_select weui-cell_select-after">
    <div class="weui-cell__hd">
        <label for="" class="weui-label">血型</label>
    </div>
    <div class="weui-cell__bd weui-cell_primary">
        <select class="weui-select" name="reservation[blood_type]">
          <%= options_for_select Setting::BLOOD_TYPES, "A" %>
        </select>
    </div>
  </div>

  <%= f.input :history_of_present_illness, as: :text, wrapper: :weui_input %>
  <%= f.input :past_medical_history, as: :text, wrapper: :weui_input %>
  <%= f.input :allergic_history, as: :text, wrapper: :weui_input %>
  <%= f.input :personal_history, as: :text, wrapper: :weui_input %>
  <%= f.input :family_history, as: :text, wrapper: :weui_input %>
  <%= f.input :vaccination_history, as: :text, wrapper: :weui_input %>

  <div class="weui-btn-area">
    <!-- <a class="weui-btn weui-btn__primary" href="javascript:">确定</a> -->
    <button class="weui-btn weui-btn__primary">确定</button>
  </div>
<% end %>
