<%= form_for @reservation_examination, url: doctors_examinations_path, namespace: 'doctors', method: 'PUT' do |f|  %>

<%= hidden_field_tag :reservation_id, params[:reservation_id] %>

  <%- @examination_groups.each do |group| %>
    <div class="weui-cells__title"><%= group.name %></div>

    <div class="weui-cells weui-cells_checkbox">
      <%= f.collection_check_boxes(:examination_id, group.examinations.all, :id, :name) do |b| %>
        <%= b.label class:"weui-cell weui-check__label" do%>
          <div class="weui-cell__hd">
            <%= b.check_box class: 'weui-check' %>
            <i class="weui-icon-checked"></i>
          </div>
          <div class="weui-cell__bd">
            <%= b.text%>
          </div>
        <%end%>
      <% end %>
    </div>

  <% end %>

  <div class="weui-btn-area">
    <button type="submit" class="weui-btn weui-btn_primary">选择</button>
  </div>


<% end %>
