<div class="weui-media-box weui-media-box_text">
  <%= link_to my_patients_reservation_path(res), data: { turbolinks: false} do %>
      <h4 class="weui-media-box__title"> <%= res.name %>的<%= res.gender %> </h4>
      <p class="weui-media-box__desc"> <%= res.chief_complains %></p>
      <ul class="weui-media-box__info">
        <li class="weui-media-box__info__meta"><%= res.marked_phone_number %></li>
        <li class="weui-media-box__info__meta"><%= res.created_at.strftime('%Y.%m.%d %H:%M') %></li>
        <li class="weui-media-box__info__meta weui-media-box__info__meta__extra"><%= res.location %></li>
      </ul>
      <div class="weui_media_status">
        <span>
          <%- if res.patient_has_rated? %>
          已评价
          <% else %>
          <%= res.aasm_state_text %>
          <% end %>
        </span>
      </div>
  <% end %>
</div>
