<div class="msg">
  <div class="weui-msg">
      <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
      <div class="weui_text_area">
        <h2 class="weui-msg__title">你已评价对方</h2>
        <p class="weui-msg__desc">针对本次服务你作出了如下评价:</p>
      </div>
      <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
          <input id="rating-doctor" type="text" class="" value="<%= resource.rating_by_patient.try(:stars) %>" name="rating[stars]" data-size="md" title="">
          <div id="tags-input"></div>
        </p>
      </div>
      <!-- <div class="weui-msg__extra-area">
        <a href="">帮助</a>
      </div> -->
  </div>
</div>

<%= content_for :css do %>
  <%= stylesheet_link_tag :bootstrap_fontawesome %>
<% end %>

<%= content_for :js do %>
  <%= javascript_tag do %>
    $(function(){
      $("#rating-doctor").rating({
        showClear: false,
        showCaption: false,
        readonly: true
      });

      tag_list = "<%= resource.rating_by_patient.tag_list %>".split(',')

      $('#tags-input').tags({
        values: tag_list,
        templates: {
          pill: '<span class="badge badge-info tag-badge active" data-tag-id="{1}" style="overflow: hidden; white-space: nowrap;" class="tag-remove">{0}</span>'
        },
        input_name: "tag_list[]",
        can_delete: false,
        can_add: false
      });
    })
  <% end %>
<% end %>
