<div class="msg">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui-msg__title">支付定金</h2>
            <p class="weui-msg__desc">请支付预约定金, 方便医生和你确认咨询方式(电话咨询或线下见面咨询). 测试阶段定金只要5元</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
              <a href="javascript:void(0)" class="weui-btn weui-btn__primary" id="wechatPaymentBtn">支付定金 30元</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <a href="">帮助</a>
        </div>
    </div>
</div>

<%= content_for :js do %>
  <%= javascript_tag do %>
      var orderParams = {
        appId:     "<%= @order_params[:appId] %>",
        timeStamp: "<%= @order_params[:timeStamp] %>",
        nonceStr:  "<%= @order_params[:nonceStr] %>",
        package:   "<%= @order_params[:package] %>",
        paySign:   "<%= @order_params[:paySign] %>",
        signType:  "<%= @order_params[:signType] %>"
      }.to_json;

      url = location.href.split('#')[0]
      $.get("/wxpay/config?url=" + url).done(function(data){

        wx.config({
          appId:     data.appId,
          timestamp: data.timestamp,
          nonceStr:  data.nonceStr,
          signature: data.signature,
          jsApiList: data.jsApiList
        });

      })


      wx.ready(function(){
        console.log('wx ready, click to pay')

        $('#wechatPaymentBtn').on('click', function() {

          wx.chooseWXPay({
              timestamp: "<%= @order_params[:timeStamp] %>", // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
              nonceStr:  "<%= @order_params[:nonceStr] %>", // 支付签名随机串，不长于 32 位
              package:   "<%= @order_params[:package]  %>", // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
              signType:  "<%= @order_params[:signType] %>", // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
              paySign:   "<%= @order_params[:paySign] %>", // 支付签名
              success: function (res) {
  							console.log(JSON.stringify(res));
                // 支付成功后的回调函数
  							if(res["errMsg"] == "chooseWXPay:ok"){
  								// check payments and change aasm_state
  								location.href = "/my/patients/reservations"
  							}
              },
  						fail: function(res){
  							console.log(JSON.stringify(res));
  							console.log('支付请求失败, 请联系我们');
  						}
          });
        });

      })
      wx.error(function(res){
        console.log(res);
      })

  <% end %>
<% end %>
