<% if @doctor.new_record? %>
  <% url = doctors_path %>
  <% method = 'POST' %>
<% else %>
  <% url = doctor_path(@doctor) %>
  <% method = 'PATCH' %>
<% end %>

<%= simple_form_for @doctor, as: :doctor, url: url, html: { method: method } do |f| %>
  <!-- <div class="weui_cells_title">申请成为医生</div>
  <p class="weui_cells_tips">顶部说明文字</p> -->

  <div class="weui_cells_title">从业信息</div>
  <div class="weui_cells weui_cells_form">
    <div class="weui_cell">
      <div class="weui_cell_hd">
        <label class="weui_label" for="">身份证号码</label>
      </div>
      <div class="weui_cell_bd weui_cell_primary">
        <!-- <input class="weui_input" name="doctor[id_card_num]" type="text" value=""> -->
        <%= f.text_field :id_card_num, class: 'weui_input' %>
      </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_uploader weui_uploader1">
                <div class="weui_uploader_hd weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">身份证正面照片</div>
                    <div class="weui_cell_ft">
                      <% if @doctor.id_card_front.present? %>
                        1/1
                      <% else %>
                        0/1
                      <% end %>
                    </div>
                </div>
                <div class="weui_uploader_bd">
                    <ul class="weui_uploader_files">
                      <li class="weui_uploader_file">
                        <!-- <% if @doctor.id_card_front.present? %>
                          <%= image_tag @doctor.id_card_front%>
                        <% else %>
                          <img data-src="holder.js/79x79"/>
                        <% end %> -->
                        <%= show_holder_or_image @doctor, :id_card_front, "79x79" %>
                        <%= f.hidden_field :id_card_front, class: 'file_field' %>
                      </li>
                    </ul>
                    <div class="weui_uploader_input_wrp">
                      <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_uploader weui_uploader2">
                <div class="weui_uploader_hd weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">身份证反面照片</div>
                    <div class="weui_cell_ft">
                      <% if @doctor.id_card_back.present? %>
                        1/1
                      <% else %>
                        0/1
                      <% end %>
                    </div>
                </div>
                <div class="weui_uploader_bd">
                    <ul class="weui_uploader_files">
                      <li class="weui_uploader_file" style="background-image:url()">
                        <%= show_holder_or_image @doctor, :id_card_back, "79x79" %>
                        <%= f.hidden_field :id_card_back, class: 'file_field' %>
                      </li>
                    </ul>
                    <div class="weui_uploader_input_wrp">
                        <!-- <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_uploader weui_uploader3">
                <div class="weui_uploader_hd weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">医生执照正页</div>
                    <div class="weui_cell_ft">
                      <% if @doctor.license_front.present? %>
                        1/1
                      <% else %>
                        0/1
                      <% end %>
                    </div>
                </div>
                <div class="weui_uploader_bd">
                    <ul class="weui_uploader_files">
                      <li class="weui_uploader_file">
                        <%= show_holder_or_image @doctor, :license_front, "79x79" %>
                        <%= f.hidden_field :license_front, class: 'file_field' %>
                      </li>
                    </ul>
                    <div class="weui_uploader_input_wrp">
                        <!-- <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_uploader weui_uploader4">
                <div class="weui_uploader_hd weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">医生执照副页</div>
                    <div class="weui_cell_ft">
                      <% if @doctor.license_back.present? %>
                        1/1
                      <% else %>
                        0/1
                      <% end %>
                    </div>
                </div>
                <div class="weui_uploader_bd">
                    <ul class="weui_uploader_files">
                      <li class="weui_uploader_file">
                        <%= show_holder_or_image @doctor, :license_back, "79x79" %>
                        <%= f.hidden_field :license_back, class: 'file_field' %>
                      </li>
                    </ul>
                    <div class="weui_uploader_input_wrp">
                        <!-- <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="weui_cell weui_cell_select weui_select_after">
        <div class="weui_cell_hd">
            <label for="" class="weui_label">职称</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" name="select2">
              <%= options_for_select Doctor::JOB_TITLES, "主任医师" %>
            </select>
        </div>
    </div>
   
    <div class="weui_cell">
      <div class="weui_cell_hd">
        <label class="weui_label" for="">医院名称</label>
      </div>
      <div class="weui_cell_hd">
        <!-- <input class="weui_input" name="doctor[hospital]" type="text" value=""> -->
        <%= f.text_field :hospital, class: 'weui_input' %>
      </div>
    </div>

    <div class="weui_cell">
      <div class="weui_cell_hd">
        <label class="weui_label" for="">医院地址</label>
      </div>
      <div class="weui_cell_hd">
        <!-- <input class="weui_input" name="doctor[location]" type="text" value=""> -->
        <%= f.text_field :location, class: 'weui_input' %>
      </div>
    </div>

  </div>

  <!-- <div class="weui_cells_title">备注</div>
  <div class="weui_cells weui_cells_form">
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <textarea class="weui_textarea" name="doctor[remark]" placeholder="你还有什么补充的吗？"></textarea>
      </div>
    </div>
  </div>

  <p class="weui_cells_tips">底部说明文字底部说明文字</p> -->

  <div class="weui_btn_area">
    <!-- <a class="weui_btn weui_btn_primary" href="javascript:">确定</a> -->
    <button class="weui_btn weui_btn_primary">确定</button>
  </div>

<% end %>

<%- content_for :js  do %>
<script type="text/javascript">
  $(function(){
    uploader1 = uploader('.weui_uploader1 .weui_uploader_input_wrp', '.weui_uploader1', '/global_images.js')
    uploader2 = uploader('.weui_uploader2 .weui_uploader_input_wrp', '.weui_uploader2', '/global_images.js')
    uploader3 = uploader('.weui_uploader3 .weui_uploader_input_wrp', '.weui_uploader3', '/global_images.js')
    uploader3 = uploader('.weui_uploader4 .weui_uploader_input_wrp', '.weui_uploader4', '/global_images.js')
  })
</script>
<% end %>
