<% if @doctor.new_record? %>
  <% url = doctors_path %>
  <% method = 'POST' %>
<% else %>
  <% url = doctor_path(@doctor) %>
  <% method = 'PATCH' %>
<% end %>

<%= simple_form_for @doctor, as: :doctor, url: url, html: { method: method } do |f| %>
  <div class="weui-cells__title">申请成为医生</div>
  <p class="weui-cells__tips">你需要上传资料并通过我们的审核</p>

  <div class="weui-cells__title">从业信息</div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">身份证号码</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <%= f.text_field :id_card_num, class: 'weui-input', data: { "parsley-required": "true", "parsley-pattern": /[(d{18})|(d{17}x)]/ } %>
      </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui-uploader weui_uploader1">
                <div class="weui-uploader__hd">
                  <p class="weui-uploader__title">身份证正面照片</p>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="uploaderFiles">
                      <li class="weui-uploader__file holder" style="background:rgba(74, 56, 66, 0.13)">
                        <%= show_holder_or_image @doctor, :id_card_front, "79x79" %>
                        <%= f.hidden_field :id_card_front_media_id, class: 'file_field' %>
                      </li>
                    </ul>
                    <div class="weui-uploader__input-box" id='picker1'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui-uploader weui_uploader2">
                <div class="weui-uploader__hd">
                  <p class="weui-uploader__title">身份证反面照片</p>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="uploaderFiles">
                      <li class="weui-uploader__file holder" style="background:rgba(74, 56, 66, 0.13)">
                        <%= show_holder_or_image @doctor, :id_card_back, "79x79" %>
                        <%= f.hidden_field :id_card_back_media_id, class: 'file_field' %>
                      </li>
                    </ul>
                    <div class="weui-uploader__input-box" id='picker2'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui-uploader weui_uploader3">
                <div class="weui-uploader__hd">
                  <p class="weui-uploader__title">医生执照正页</p>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="uploaderFiles">
                        <li class="weui-uploader__file holder" style="background:rgba(74, 56, 66, 0.13)">
                          <%= show_holder_or_image @doctor, :license_front, "79x79" %>
                          <%= f.hidden_field :license_front_media_id, class: 'file_field' %>
                        </li>
                    </ul>
                    <div class="weui-uploader__input-box" id='picker3'>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui-uploader weui_uploader4">
                <div class="weui-uploader__hd">
                  <p class="weui-uploader__title">医生执照副页</p>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="uploaderFiles">
                        <li class="weui-uploader__file holder" style="background:rgba(74, 56, 66, 0.13)">
                          <%= show_holder_or_image @doctor, :license_back, "79x79" %>
                          <%= f.hidden_field :license_back_media_id, class: 'file_field' %>
                        </li>
                    </ul>
                    <div class="weui-uploader__input-box" id='picker4'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
            <label for="" class="weui-label">职称</label>
        </div>
        <div class="weui-cell__bd weui-cell_primary">
            <select class="weui-select" name="select2">
              <%= options_for_select Doctor::JOB_TITLES, "主任医师" %>
            </select>
        </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="">擅长</label>
      </div>
      <div class="weui-cell__hd">
        <!-- <input class="weui-input" name="doctor[hospital]" type="text" value=""> -->
        <%= f.text_field :good_at, class: 'weui-input', data: { "parsley-required": "true" } %>
      </div>
    </div>


    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="">医院名称</label>
      </div>
      <div class="weui-cell__hd">
        <!-- <input class="weui-input" name="doctor[hospital]" type="text" value=""> -->
        <%= f.text_field :hospital, class: 'weui-input', data: { "parsley-required": "true" } %>
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="">医院地址</label>
      </div>
      <div class="weui-cell__hd">
        <!-- <input class="weui-input" name="doctor[location]" type="text" value=""> -->
        <%= f.text_field :location, class: 'weui-input', data: { "parsley-required": "true" } %>
      </div>
    </div>

  </div>

  <!-- <div class="weui-cells__title">备注</div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd weui-cell_primary">
        <textarea class="weui-textarea" name="doctor[remark]" placeholder="你还有什么补充的吗？"></textarea>
      </div>
    </div>
  </div>

  <p class="weui-cells__tips">底部说明文字底部说明文字</p> -->

  <div class="weui-btn-area">
    <button class="weui-btn weui-btn__primary">确定</button>
  </div>

<% end %>


<%- content_for :js  do %>
  <%= javascript_include_tag :uploader %>
  <%= render 'uploader_js' %>
<% end %>
