<% if @doctor.new_record? %>
  <% url = doctors_path %>
  <% method = 'POST' %>
<% else %>
  <% url = doctor_path(@doctor) %>
  <% method = 'PUT' %>
<% end %>

<%= form_for @doctor, url: wizard_path, method: 'PUT' do |f| %>

  <div class="weui-cells__title">申请成为医生</div>

  <!-- <p class="weui-cells__tips">顶部说明文字</p> -->

  <!-- <div class="weui-cells__title">基本信息</div> -->
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="">姓名</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <!-- <input class="weui-input" name="doctor[name]" placeholder="请输入姓名" type="text" value=""> -->
        <%= f.text_field :name, class: 'weui-input', data: { "parsley-required": "true" } %>
        <%= f.hidden_field :user_id, value: current_user.id  %>
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="">生日</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <%= f.date_field :date_of_birth, class: 'weui-input' %>
        <!-- <input class="weui-input" name="doctor[date_of_birth]" type="date" value=""> -->
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="">性别</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <select class="weui-select" name="doctor[gender]">
          <option value="0">男</option>
          <option value="1">女</option>
        </select>
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="">手机号码</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <!-- <input class="weui-input" name="doctor[mobile_phone]" type="text" data-parsley-required="true" data-parsley-pattern="/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" data-parsley-type="integer" data-parsley-length="[11,11]" value=""> -->
        <%= f.text_field :mobile_phone, class: 'weui-input', data: {
                "parsley-required": true, "parsley-type": "integer", "parsley-length": "[11,11]",
                "parsley-pattern": "/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/"
                } %>
      </div>
    </div>
  </div>


  <div class="weui-cells__title">备注</div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd weui-cell_primary">
        <!-- <textarea class="weui-textarea" name="doctor[remark]" placeholder="你还有什么补充的吗？"></textarea> -->
        <%= f.text_area :remark, class: 'weui-textarea' %>
      </div>
    </div>
  </div>

  <div class="weui-cells__tips">底部说明文字底部说明文字</div>

  <div class="weui-btn-area">
    <!-- <a class="weui-btn weui-btn__primary" href="javascript:">确定</a> -->
    <button class="weui-btn weui-btn__primary">确定</button>
  </div>

<% end %>
