<% content_for :title, "申请成为医生" %>

<% if @doctor.new_record? %>
  <% url = doctors_path %>
  <% method = 'POST' %>
<% else %>
  <% url = doctor_path(@doctor) %>
  <% method = 'PUT' %>
<% end %>

<%= simple_form_for @doctor, url: wizard_path, method: 'PUT' do |f| %>
  <div class="weui-cells__title">基本信息</div>

  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="doctor_name">姓名</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <%= f.text_field :name, class: 'weui-input', data: { "parsley-required": "true" } %>
        <%= f.hidden_field :user_id, value: current_user.id  %>
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="doctor_date_of_birth">生日</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <%= f.date_field :date_of_birth, class: 'weui-input', data: { "parsley-required": "true" } %>
      </div>
    </div>

    <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
            <label for="doctor_gender" class="weui-label">性别</label>
        </div>
        <div class="weui-cell__bd">
            <select class="weui-select" name="doctor[gender]" id="doctor_gender">
                <option value="male">男</option>
                <option value="female">女</option>
            </select>
        </div>
    </div>

    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd">
        <label class="weui-label" for="doctor_mobile_phone">手机号</label>
      </div>
      <div class="weui-cell__bd">
        <%= f.text_field :mobile_phone, class: 'weui-input request-captcha', data: {
                "parsley-required": true, "parsley-type": "integer", "parsley-length": "[11,11]",
                "parsley-pattern": "/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/"
                } %>
      </div>
      <div class="weui-cell__ft">
        <button class="weui-vcode-btn get-code" disabled="disabled" style="color:inherit;width:110px">获取验证码</button>
        <button class="weui-vcode-btn reset-code" disabled="disabled" style="color:inherit;width:110px;display:none" >
          <i class="weui-loading"></i><span class="weui-loadmore__tips" id="J_second">60</span>s
        </button>
      </div>
    </div>


    <div class="weui-cell simple-captcha">
      <div class="weui-cell__hd">
        <label class="weui-label" for="doctor_captcha">验证码</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <input
          name="doctor[captcha]"
          id="doctor_captcha"
          class="weui-input captcha"
          placeholder="请输入六位验证码"
          type="number"
          data-parsley-required="true"
          data-parsley-type="integer"
          data-parsley-length="[6,6]">
      </div>
      <div class="weui-cell__ft">
      </div>
    </div>
  </div>

  <label class="weui-cell weui-cells_checkbox weui-check__label" for="s1">
      <div class="weui-cell__hd">
          <%= f.check_box :terms, class: "weui-check", id: "s1", data: { "parsley-required": "true" } %>
          <i class="weui-icon-checked"></i>
      </div>
      <div class="weui-cell__bd"  style="color: #999999;">
          <p>勾选表示您已阅读并接受<a href="/terms" style="color: #586C94;">知情同意书</a></p>
      </div>
  </label>

  <div class="weui-btn-area">
    <button class="weui-btn weui-btn_primary">确定</button>
  </div>
<% end %>


<%- content_for :js  do %>
  <%= javascript_pack_tag 'doctor_new' %>
<% end %>
