<% content_for :title, "申请成为医生" %>

<% if @doctor.new_record? %>
  <% url = doctors_path %>
  <% method = 'POST' %>
<% else %>
  <% url = doctor_path(@doctor) %>
  <% method = 'PUT' %>
<% end %>

<%= form_for @doctor, url: wizard_path, method: 'PUT' do |f| %>

  <div class="weui-cells__title">基本信息</div>

  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="">姓名</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <%= f.text_field :name, class: 'weui-input', data: { "parsley-required": "true" } %>
        <%= f.hidden_field :user_id, value: current_user.id  %>
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label" for="">生日</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <%= f.date_field :date_of_birth, class: 'weui-input' %>
      </div>
    </div>

    <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
            <label for="" class="weui-label">性别</label>
        </div>
        <div class="weui-cell__bd">
            <select class="weui-select" name="doctor[gender]">
                <option value="0">男</option>
                <option value="1">女</option>
            </select>
        </div>
    </div>

    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd">
        <label class="weui-label">手机号</label>
      </div>
      <div class="weui-cell__bd">
        <%= f.text_field :mobile_phone, class: 'weui-input request-captcha', data: {
                "parsley-required": true, "parsley-type": "integer", "parsley-length": "[11,11]",
                "parsley-pattern": "/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/"
                } %>
      </div>
      <div class="weui-cell__ft">
        <button class="weui-vcode-btn">获取验证码</button>
      </div>
    </div>


    <div class="weui-cell simple-captcha">
      <div class="weui-cell__hd">
        <label class="weui-label">验证码</label>
      </div>
      <div class="weui-cell__bd weui-cell_primary">
        <input
          name="doctor[captcha]"
          class="weui-input captcha"
          placeholder="请输入六位验证码"
          type="number"
          data-parsley-required="true"
          data-parsley-type="integer"
          data-parsley-length="[6,6]">
      </div>
      <div class="weui-cell__ft">
      </div>
    </div>


    </div>



  <div class="weui-cells__title">备注</div>
  <div class="weui-cells weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell__bd weui-cell_primary">
        <%= f.text_area :remark, class: 'weui-textarea' %>
      </div>
    </div>
  </div>

  <!-- <div class="weui-cells__tips">底部说明文字底部说明文字</div> -->

  <div class="weui-btn-area">
    <button class="weui-btn weui-btn_primary">确定</button>
  </div>

<% end %>


<%- content_for :js  do %>
<script type="text/javascript">
  $(function () {

    // 请求获取验证码
    $(document).on('click', 'button.weui-vcode-btn', function(e){
      e.preventDefault();
      var mobile_phone = $('.weui-input.request-captcha').val();
      $.post('/simple_captcha/request_captcha', { mobile_phone: mobile_phone }, function(data){
          console.log(mobile_phone);
        }
      );
    })

    // 验证验证码when focusOut
    $(document).on('keyup', '.weui-input.captcha', function(e){
      var charCode = e.charCode || e.keyCode;
      // numbers
      if(96 <= charCode <= 105){
        var mobile_phone = $('.weui-input.request-captcha').val();
        var captcha = $('.weui-input.captcha').val();
        var mobile_phone = $('.weui-input.request-captcha').val();
        if(mobile_phone.length == 11 && captcha.length == 6 ){

          $.ajax({
            url: '/simple_captcha/simple_captcha_valid.json',
            data: { mobile_phone: mobile_phone, captcha: captcha },
            type: 'POST'
          })
          .always(function(data){
            if(data.result == "success"){
              $('.weui-cell.simple-captcha').find('.weui-cell__ft').html('<i class="weui-icon-success"></i>')
              $('.weui-btn-area .weui-btn_disabled').removeClass('weui-btn_disabled').removeAttr('disabled')
            }else{
              // 错误
              $('.weui-cell.simple-captcha').find('.weui-cell__ft').html('<i class="weui-icon-cancel"></i>')
            }
          })

        }else{
          $('.weui-cell.simple-captcha').find('.weui-cell__ft').html('<i class="weui-icon-cancel"></i>')
          $('.weui-btn-area input').addClass('weui-btn_disabled').attr('disabled', "disabled")
        }
      }
    })
  })


  $('form#new_doctor').parsley();

</script>
<% end %>
