<%= simple_nested_form_for resource, url: url, method: method do |f| %>
  <div class='form-inputs'>
    <div class="row">
      <div class='col-md-12'>
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title"> <span class="glyphicon glyphicon-pencil"></span> 关键体征数据 </span>
          </div>
          <div class="panel-body">
            <%= f.input :height, wrapper: :fusion_input %>
            <%= f.input :weight, wrapper: :fusion_input %>
            <%= f.input :bmi, wrapper: :fusion_input %>
            <%= f.input :temperature, wrapper: :fusion_input %>
            <%= f.input :pulse, wrapper: :fusion_input %>
            <%= f.input :respiratory_rate, wrapper: :fusion_input %>
            <%= f.input :blood_pressure, wrapper: :fusion_input %>
            <%= f.input :oxygen_saturation, wrapper: :fusion_input %>
            <%= f.input :pain_score, wrapper: :fusion_input %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='col-md-12'>
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title"> <span class="glyphicon glyphicon-pencil"></span> 基本信息 </span>
          </div>
          <div class="panel-body">
            <%= f.input :person_id, as: :hidden, input_html: { value: f.object.try(:person_id) || parent.id  } %>
            <%= f.input :onset_date, as: :string, wrapper: :fusion_input, input_html: { class: 'datepicker' } %>

            <%= f.input :chief_complaint, as: :text, wrapper: :fusion_input %>
            <%= f.input :history_of_present_illness, as: :text, wrapper: :fusion_input %>


            <!-- <div class='form-group upload'>
              <p>病例图片: 请至少上传一张图片，单张图片请小于10M(按住Ctrl可多选照片，最多不超过十张)</p>
            </div>
            <div class='col-md-12'>
              <div class='upload-container' id='uploader'>
                <ul class='upload-list cf'>
                  <li>
                    <img src="/assets/admin/background.jpg" alt="Background" width="120" height="120">
                  </li>
                </ul>
              </div>
            </div> -->

            <div class='form-group upload'>
              <label class="form-input" for="medical_record_images">病例图片</label>
              <div class='row'>
                <div class='col-md-12'>
                  <div class='uploader-container'>
                    <p>请至少上传一张图片，单张图片请小于10M(按住Ctrl可多选照片，最多不超过十张。)</p>
                    <ul id='medical_record_images'>
                      <%= f.simple_fields_for :medical_record_images %>
                    </ul>
                  </div>

                  <%= f.link_to_add :medical_record_images, class: 'btn btn-sm btn-default', data: { target: '#medical_record_images'} do %>
                    <i class="fa fa-plus text"></i>
                    <span class='text'>添加图片</span>
                  <% end %>
                </div>
              </div>
            </div>



            <%= f.input :past_medical_history, as: :text, wrapper: :fusion_input %>
            <%= f.input :allergic_history, as: :text, wrapper: :fusion_input %>
            <%= f.input :personal_history, as: :text, wrapper: :fusion_input %>
            <%= f.input :family_history, as: :text, wrapper: :fusion_input %>
            <%= f.input :vaccination_history, as: :text, wrapper: :fusion_input %>
            <%= f.input :physical_examination, as: :text, wrapper: :fusion_input %>
            <%= f.input :laboratory_and_supplementary_examinations, as: :text, wrapper: :fusion_input %>

            <div class='form-group upload'>
              <label class="form-input" for="laboratory_examination_images">实验室检查图片</label>
              <div class='row'>
                <div class='col-md-12'>
                  <div class='uploader-container'>
                    <p>请至少上传一张图片，单张图片请小于10M(按住Ctrl可多选照片，最多不超过十张。)</p>
                    <ul id='laboratory_examination_images'>
                      <%= f.simple_fields_for :laboratory_examination_images %>
                    </ul>
                  </div>

                  <%= f.link_to_add :laboratory_examination_images, class: 'btn btn-sm btn-default', data: { target: '#laboratory_examination_images'} do %>
                    <i class="fa fa-plus text"></i>
                    <span class='text'>添加图片</span>
                  <% end %>
                </div>
              </div>
            </div>

            <%= f.input :imaging_examination, as: :text, wrapper: :fusion_input %>

            <div class='form-group upload'>
              <label class="form-input" for="imaging_examination_images">影像学意见图片</label>
              <div class='row'>
                <div class='col-md-12'>
                  <div class='uploader-container'>
                    <p>请至少上传一张图片，单张图片请小于10M(按住Ctrl可多选照片，最多不超过十张。)</p>
                    <ul id='imaging_examination_images'>
                      <%= f.simple_fields_for :imaging_examination_images %>
                    </ul>
                  </div>

                  <%= f.link_to_add :imaging_examination_images, class: 'btn btn-sm btn-default', data: { target: '#imaging_examination_images'} do %>
                    <i class="fa fa-plus text"></i>
                    <span class='text'>添加图片</span>
                  <% end %>
                </div>
              </div>
            </div>

            <%= f.input :preliminary_diagnosis, as: :text, wrapper: :fusion_input %>
            <%= f.input :treatment_recommendation, as: :text, wrapper: :fusion_input %>
            <%= f.input :remarks, as: :text, wrapper: :fusion_input %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class='form-actions'>
    <div class='row'>
      <div class='col-md-12'>
        <button type="submit" class="btn btn-default btn-submit">提交</button>
      </div>
    </div>
  </div>

<% end %>


<%- content_for :foot_js do %>
<script type="text/javascript">
  $(function(){
    $('.datepicker').datepicker();

    console.log("image uploader init")

    Holder.run();

    new ImageUploader({
      url: "/admin/images.js",
      button: 'plupload1'
    })


    new ImageUploader({
      url: "/admin/images.js",
      button: 'plupload2'
    })


    new ImageUploader({
      url: "/admin/images.js",
      button: 'plupload3'
    })

    $(document).on('nested:fieldAdded', function(event){

      // this field was just inserted into your form
      var field = event.field;
      console.log(field)

      Holder.run({
        images: field.find('li img')[0]
      })


      // it's a jQuery object already! Now you can find date input
      new ImageUploader({
        url: "/admin/images.js",
        button: field.find('li')[0]
      })

    })

  });
</script>
<% end %>
