<%= link_to patients_reservation_path(res), class: "weui-cell weui-cell_access", data: { turbolinks: false} do %>
  <div class="weui-cell__hd">
    <img src="/boy.png" alt="" style="width:60px;margin-right:5px;display:block">
    <div class="weui_media_status">

      <%- if res.patient_has_rated? %>
      已评价
      <% else %>
      <%= res.aasm_state_text %>
      <% end %>

    </div>
  </div>
  <div class="weui-cell__bd">
    <p><%= res.user.try(:name) %>的<%= res.family_member.try(:gender_text) %><%= res.family_member.try(:name) %></p>
    <p class="weui-media-box__desc"><%= res.chief_complains %></p>
    <p class="weui-media-box__desc">预约时间: <%= res.p_date %></p>
    <p class="weui-media-box__desc">预约地点: <%= res.p_location %></p>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
