<%= link_to patients_reservation_path(res), class: "weui-cell weui-cell_access", data: { turbolinks: false} do %>
  <div class="weui-cell__hd">
    <% if res.family_member.present? %>
      <%= image_tag res.family_member.avatar %>
    <% end %>

    <div class="weui_media_status">
      <%= res.aasm_state_text %>
    </div>
  </div>
  <div class="weui-cell__bd">
    <p><%= res.user.try(:name) %>的<%= res.family_member.try(:gender_text) %><%= res.family_member.try(:name) %></p>
    <p class="weui-media-box__desc"><%= res.chief_complains %></p>
    <p class="weui-media-box__desc">预约时间: <%= date_format(res.p_date) %></p>
    <p class="weui-media-box__desc">预约地点: <%= res.p_location %></p>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
