<div class="msg">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui-msg__title">支付定金</h2>
            <p class="weui-msg__desc">请支付预约定金, 方便医生和你确认咨询方式(电话咨询或线下见面咨询). 测试阶段定金只要5元</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
              <a href="javascript:void(0)" class="weui-btn weui-btn__primary" id="wechatPaymentBtn">支付定金 30元</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <a href="">帮助</a>
        </div>
    </div>
</div>

<%= content_for :js do %>
  <%= javascript_tag do %>
    $(function(){
      <% if @order_params.present? %>
        var orderParams = {
          appId:     "<%= @order_params[:appId] %>",
          timeStamp: "<%= @order_params[:timeStamp] %>",
          nonceStr:  "<%= @order_params[:nonceStr] %>",
          package:   "<%= @order_params[:package] %>",
          paySign:   "<%= @order_params[:paySign] %>",
          signType:  "<%= @order_params[:signType] %>"
        };

        url = location.href.split('#')[0]

        $.ajax({
          url:        "/wx/config_jssdk.json?url=" + escape(url),
          beforeSend: function(){},
          global:     false
        })
        .done(function(data){

          wx.config({
            appId:     data.appId,
            timestamp: data.timestamp,
            nonceStr:  data.nonceStr,
            signature: data.signature,
            jsApiList: data.jsApiList
          });

          wx.error(function(res){
            alert("初始化微信js sdk出错，请联系我们");
          })

          wx.ready(function(){
            console.log('wx ready, click to pay')

            $('#wechatPaymentBtn').on('click', function() {

              wx.chooseWXPay({
                  timestamp: orderParams.timeStamp,
                  nonceStr:  orderParams.nonceStr,
                  package:   orderParams.package,
                  signType:  orderParams.signType,
                  paySign:   orderParams.paySign,
                  success: function (res) {
      							console.log(JSON.stringify(res));
      							if(res["errMsg"] == "chooseWXPay:ok"){
      								// check payments and change aasm_state in payment_notify_url(set when generate_payment_options)
                      location.reload()
      							}
                  },
      						fail: function(res){
      							console.log(JSON.stringify(res));
                    alert('支付请求失败, 请联系我们');
      						}
              });
            });
          })
      })
      <% end %>
    })
  <% end %>
<% end %>
