<%= form_for resource, url: patients_reservation_path(resource, event: 'upload_reservation_examination_images'), method: 'PUT' do |f| %>

  <% resource.reservation_examinations.each_with_index do |re, index| %>
    <% reservation_examinations_attributes = "reservation_examinations_attributes["+ index.to_s + "][id]" %>

    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <div class="weui-uploader">
            <div class="weui-uploader__hd">
              <p class="weui-uploader__title"><%= re.examination.name %></p>
              <%= hidden_field_tag reservation_examinations_attributes, re.id %>
            </div>
            <div class="weui-uploader__bd">
              <ul class="weui-uploader__files" id="uploaderFiles[<%= index %>]">
                <%- if re.reservation_examination_images.any? %>
                    <%- re.reservation_examination_images.each do |img| %>
                      <li class="weui-uploader__file" style="background-image:url(<%= img.data %>)" id="li<%=img.id%>">
                        <div class="weui-gallery" id="gallery" style="display: none;">
                            <span class="weui-gallery__img" id="galleryImg" style="background-image:url(<%= img.data %>)"></span>
                            <div class="weui-gallery__opr">
                                <%= link_to patients_examination_path(resource, imgid: img.id, reid: re.id), 'data-turbolinks-track': 'reload', remote: true, method: 'DELETE', class: 'weui-gallery__del' do %>
                                  <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                                <% end %>
                            </div>
                        </div>
                      </li>
                    <% end %>
                <% end %>
              </ul>
              <div class="weui-uploader__input-box picker" id='<%= index  %>'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  <div class="weui-btn-area">
    <button class="weui-btn weui-btn_primary">确定</button>
  </div>

<% end %>

<%- content_for :js  do %>
  <%= javascript_pack_tag 'examination_images_uploader',  'data-turbolinks-track': 'reload' %>
<% end %>
