<div class="msg">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui-msg__title">请支付定金</h2>
            <p class="weui-msg__desc">请支付预约定金, 方便医生和你确认见面地点和时间. 测试阶段定金只要0.01元</p>
            <p class="weui-msg__desc">未支付定金之前你可以随便取消, 支付之后的所有取消需要联系客服处理</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
              <a href="javascript:void(0)" class="weui-btn weui-btn_primary" id="wechatPaymentBtn">支付定金(0.01元)</a>
              <a href="tel:4000719136" class="weui-btn weui-btn_default">拨打客服电话</a>
              <%= link_to "稍后支付", patients_reservations_path, class: "weui-btn weui-btn_default" %>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <a href="">帮助</a>
        </div>
    </div>
</div>


<%= content_for :js do %>
  <%= javascript_tag do %>
    $(function(){
      <% if @order_params.present? %>
        var orderParams = {
          appId:     "<%= @order_params[:appId] %>",
          timeStamp: "<%= @order_params[:timeStamp] %>",
          nonceStr:  "<%= @order_params[:nonceStr] %>",
          package:   "<%= @order_params[:package] %>",
          paySign:   "<%= @order_params[:paySign] %>",
          signType:  "<%= @order_params[:signType] %>"
        };

        url = location.href.split('#')[0]
        $.ajax({
          url:   "/wx/config_jssdk.json?url=" + escape(url),
        })
        .done(function(data){

          wx.config({
            debug:     false,
            appId:     data.appId,
            timestamp: data.timestamp,
            nonceStr:  data.nonceStr,
            signature: data.signature,
            jsApiList: data.jsApiList
          });

          wx.error(function(res){
            alert("初始化微信js sdk出错，请联系我们");
          })

          wx.ready(function(){
            console.log('fuck')
            console.log('wx ready, click to pay')

            $('#wechatPaymentBtn').on('click', function() {

              wx.chooseWXPay({
                  timestamp: orderParams.timeStamp,
                  nonceStr:  orderParams.nonceStr,
                  package:   orderParams.package,
                  signType:  orderParams.signType,
                  paySign:   orderParams.paySign,
                  success: function (res) {
      							console.log(JSON.stringify(res));
      							if(res["errMsg"] == "chooseWXPay:ok"){
      								// check payments and change aasm_state in payment_notify_url(set when generate_payment_options)
                      location.reload()
      							}
                  },
      						fail: function(res){
      							console.log(JSON.stringify(res));
                    alert('支付请求失败, 请联系我们');
      						}
              });
            });
          })
      })
      <% end %>
    })
  <% end %>
<% end %>
