<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

        <!-- patients and doctors base information -->
        <div class="weui-panel weui-panel_access" id="personal-info">
          <div class="weui-cell">
            <div class="base-info-patient-avatar">
                <%- if resource.family_member.avatar.present? %>
                  <%= image_tag resource.family_member.avatar %>
                <% end %>
                <p><%= resource.family_member.name %></p>
            </div>
            <div class="weui-cell__bd">
              <div class="weui_media_status">
                <%- if resource.patient_has_rated? %>
                  已评价
                <% else %>
                  <%= resource.aasm_state_text %>
                <% end %>
              </div>
            </div>
            <div class="base-info-doctor-avatar">
              <% if resource.doctor.present? && resource.doctor.user.avatar.present? && (u.avatar != "/0") && !resource.prepaid? %>
                <%= image_tag resource.doctor.user.avatar %>
              <% else %>
                <img src="/none-avatar.png" alt="">
              <% end %>
                <p>
                  <% if resource.doctor.present? && !resource.prepaid? %>
                    <%= resource.doctor_user_name %>
                  <% else %>
                    未指定
                  <% end %>
                </p>
            </div>
          </div>
        </div>

        <%- if resource.patient_has_rated? %>
          <%= render 'patients/reservations/states/rated' %>
        <% elsif resource.paid? %>
          <%= render 'patients/reservations/states/paid' %>
        <% elsif resource.to_pay? %>
          <%= render 'patients/reservations/states/to_pay' %>
        <% elsif resource.consulting? %>
          <%= render 'patients/reservations/states/consulting' %>
        <% elsif resource.to_consult? %>
          <%= render 'patients/reservations/states/to_consult' %>
        <% elsif resource.to_examine? %>
          <%= render 'patients/reservations/states/to_examine' %>
        <% elsif resource.prepaid? %>
          <%= render 'patients/reservations/states/prepaid' %>
        <% elsif resource.to_prepay? %>
          <%= render 'patients/reservations/states/to_prepay' %>
        <% end %>
    </div>

    <%= render 'tab_bar' %>
  </div>
</div>
