<div class="tabbar">
  <div class="weui-tab">
      <div class="weui-tab__panel">

        <!-- patients and doctors base information -->
        <div class="weui-cells">
          <div class="weui-cell">
            <div class="base-info-patient-avatar">
                <%- if resource.family_member.avatar.present? %>
                  <%= image_tag resource.family_member.avatar %>
                <% end %>
                <p><%= resource.family_member.name %></p>
            </div>
            <div class="weui-cell__bd">
              <div class="weui_media_status">
                <%= resource.aasm_state_text %>
              </div>
            </div>
            <div class="base-info-doctor-avatar">
              <% if resource.doctor.present? && resource.doctor.user.avatar.present? && !resource.prepaid? %>
                <%= image_tag resource.doctor.user.avatar %>
              <% else %>
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:60px;display:block">
              <% end %>
                <p>
                  <% if resource.doctor.present? && !resource.prepaid? %>
                    <%= resource.doctor_user_name %>
                  <% else %>
                    未指定
                  <% end %>
                </p>
            </div>
          </div>
        </div>

        <%- if resource.patient_has_rated? %>
          <%= render 'patients/reservations/states/rated' %>
        <% elsif resource.paid? %>
          <%= render 'patients/reservations/states/paid' %>
        <% elsif resource.to_pay? %>
          <%= render 'patients/reservations/states/to_pay' %>
        <% elsif resource.consulting? %>
          <%= render 'patients/reservations/states/consulting' %>
        <% elsif resource.to_consult? %>
          <%= render 'patients/reservations/states/to_consult' %>
        <% elsif resource.to_examine? %>
          <%= render 'patients/reservations/states/to_examine' %>
        <% elsif resource.prepaid? %>
          <%= render 'patients/reservations/states/prepaid' %>
        <% elsif resource.to_prepay? %>
          <%= render 'patients/reservations/states/to_prepay' %>
        <% end %>
    </div>

    <%= render 'tab_bar' %>
  </div>
</div>
