<%= simple_form_for resource, url: url, method: method do |f| %>
  <div class='form-inputs'>
    <div class="row">
      <div class='col-md-6'>
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title"> <span class="glyphicon glyphicon-pencil"></span> 基本信息 </span>
          </div>
          <div class="panel-body">
            <%= f.input :name, wrapper: :fusion_input %>

            <%= f.input :gender, as: :radio_buttons, collection: [['男', 'male'],['女', 'female']], wrapper: :fusion_input, :item_wrapper_class => 'inline' %>

            <!-- f.input :gender, label: 'What is your gender?', collection: [ ['M', 'Male' ], ['F', 'Female'] ], as: :radio_buttons, label_method: :last, value_method: :first, checked: f.object.gender, item_wrapper_class: 'inline' -->


            <%= f.input :birthdate, as: :string, wrapper: :fusion_input, input_html: { class: 'datepicker' } %>

            <%= f.input :email, wrapper: :fusion_input %>
            
            <%= f.input :blood_type, collection: [['A型', 'A'],['B型', 'B'],['AB型', 'AB'], ['O型', 'O']], selected: 'A', wrapper: :fusion_input %>

            <%= f.input :mobile_phone, wrapper: :fusion_input %>

          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title"> <span class="glyphicon glyphicon-pencil"></span> 联系方式 </span>
          </div>
          <div class="panel-body">

            <%= f.input :wechat, wrapper: :fusion_input %>
            <%= f.input :qq, wrapper: :fusion_input %>

            <div class="form-group">
              <label> 家庭住址 </label>
              <input type="text" class="form-control" maxlength="10" autocomplete="off" placeholder="* Optional">
              <input type="text" class="form-control" maxlength="10" autocomplete="off" placeholder="* Optional">
              <input type="text" class="form-control" maxlength="10" autocomplete="off" placeholder="* Optional">
              <input type="text" class="form-control" maxlength="10" autocomplete="off" placeholder="* Optional">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading"> <span class="panel-title"> <span class="glyphicon glyphicon-pencil"></span> 添加孩子 </span>
            <div class="panel-header-menu pull-right mr10">
              <%= link_to_add_association "Add", f, :children,  data: { :'association-insertion-node' => "#children", :'association-insertion-method' => 'append' }  %>
            </div>
          </div>
          <div class="panel-body">
            <table id="user" class="table table-bordered table-striped" style="clear: both">
              <thead>
                <th>与本人关系</th>
                <th>姓名</th>
                <th>性别</th>
                <th>手机号</th>
              </thead>
              <tbody id='children'>
                <%= f.simple_fields_for :children, wrapper: false do |child| %>
                  <%= render 'child_fields', f: child %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
  </div>
    </div>
  </div>


  <div class='form-actions'>
    <div class='row'>
      <div class='col-md-12'>
        <button type="submit" class="btn btn-default btn-submit">提交</button>
      </div>
    </div>
  </div>

<% end %>



<%- content_for :foot_js do %>
<script type="text/javascript">
  $(function(){
    $('.datepicker').datepicker({
      autoclose: true
    });

    $('#children').on('cocoon:after-insert', function(e, added_child) {
      // $('form').changeFormMethod('PUT');
    })
  });
</script>
<% end %>
