<body class="dashboard-page">

<script> var boxtest = localStorage.getItem('boxed'); if (boxtest === 'true') {document.body.className+=' boxed-layout';} </script>

<%= render 'admin/shared/skin_toolbox' %>

<%= render 'admin/shared/header' %>

<div id="main">

  <%= render 'admin/shared/left_sidebar' %>

  <section id="content_wrapper">
  	<%= yield %>
  </section>

  <!-- 'admin/shared/right_sidebar' -->

</div>

<%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>

</body>
