%p#notice= notice

%p
  %b Name:
  = @checkin.name
%p
  %b Mobile phone:
  = @checkin.mobile_phone
%p
  %b Birthdate:
  = @checkin.birthdate
%p
  %b Gender:
  = @checkin.gender
%p
  %b Email:
  = @checkin.email
%p
  %b Job:
  = @checkin.job
%p
  %b Employer:
  = @checkin.employer
%p
  %b Nationality:
  = @checkin.nationality
%p
  %b Province:
  = @checkin.province_id
%p
  %b City:
  = @checkin.city_id
%p
  %b Area:
  = @checkin.area_id
%p
  %b Address:
  = @checkin.address
%p
  %b Source:
  = @checkin.source
%p
  %b Remark:
  = @checkin.remark

= link_to 'Edit', edit_checkin_path(@checkin)
\|
= link_to 'Back', checkins_path
