!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'IE=edge', :'http-equiv' => 'X-UA-Compatible' }
    %title 叫个儿童健康咨询
    %meta{ name: 'keywords', content: '' }
    %meta{ name: 'description', content: ''}
    %meta{ name: 'author', content: '' }
    %meta{ name: 'format-detection', content: 'telephone=no' }
    %meta{ name: 'viewport', content: 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0' }

    = stylesheet_link_tag :mobile, media: :all
    = yield :css
    = csrf_meta_tags

    = javascript_include_tag "http://res.wx.qq.com/open/js/jweixin-1.2.0.js"
    = action_cable_meta_tag

  %body{class: "#{underscore_body_class}"}
    / - if @no_header.blank?
    /   = render 'header'
    #container.container

      = yield
      = render 'loading_toast'

    / - if @no_footer.blank?
    /   = render 'footer'

  = javascript_include_tag :mobile
  = yield :js
